In [1]:
from sklearn.neighbors import KNeighborsClassifier
#from sklearn. import train_test_split

In [2]:
import os
import pandas as pd
#os.chdir("")

In [3]:
bank=pd.read_csv("UniversalBank.csv",na_values=["?",","])
print(bank.shape)
print(type(bank))

(5000, 14)
<class 'pandas.core.frame.DataFrame'>

In [4]:
print(bank.columns)
print(bank.dtypes)

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')
ID                      int64
Age                     int64
Experience              int64
Income                  int64
ZIP Code                int64
Family                float64
CCAvg                 float64
Education               int64
Mortgage                int64
Personal Loan           int64
Securities Account      int64
CD Account              int64
Online                  int64
CreditCard              int64
dtype: object

In [5]:
bank.head(6)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,NaN,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3.0,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1.0,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1.0,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4.0,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4.0,0.4,2,155,0,0,0,1,0

In [6]:
bank['Education']=bank['Education'].astype('category')

In [7]:
bank=pd.get_dummies(bank)

In [8]:
bank.head(5)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Education_1,Education_2,Education_3
0,1,25,1,49,91107,NaN,1.6,0,0,1,0,0,0,1,0,0
1,2,45,19,34,90089,3.0,1.5,0,0,1,0,0,0,1,0,0
2,3,39,15,11,94720,1.0,1.0,0,0,0,0,0,0,1,0,0
3,4,35,9,100,94112,1.0,2.7,0,0,0,0,0,0,0,1,0
4,5,35,8,45,91330,4.0,1.0,0,0,0,0,0,1,0,1,0

In [9]:
 bank=bank.fillna(bank.mean())

In [10]:
from sklearn import preprocessing, metrics, cross_validation
from sklearn.cross_validation import train_test_split

C:\Users\bharg\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [11]:
# Divide in to train and test
y=bank["Personal Loan"]
X=bank.drop([]'Personal Loan','ID', axis=1)

#from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

TypeError: drop() got multiple values for argument 'axis'

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
scaler.fit(X_train)

In [ ]:
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

# Build KNN Classifier

In [ ]:
model= KNeighborsClassifier(algorithm = 'brute',n_neighbors=5)
model.fit(X_train,y_train)

In [ ]:
# Predict on Test with max_depth=2,max_depth=5
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

# GridSearch Cross validation

In [ ]:
#from sklearn.model_selection import GridSearchCV
from sklearn.grid_search import GridSearchCV
parameters = {'n_neighbors':list(range(3,15))}
clf = GridSearchCV(KNeighborsClassifier(), parameters, n_jobs=4,verbose=2)
clf.fit(X=X_train, y=y_train)
knn_model = clf.best_estimator_
print (clf.best_score_, clf.best_params_)

In [ ]:

y_pred_test=knn_model.predict(X_test)
print(accuracy_score(y_test,y_pred_test))

Explore function KNeighborsRegressor
http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html