In [1]:
import os, random, sys
from selenium import webdriver
from bs4 import BeautifulSoup
import tqdm.notebook as tq
import time
import warnings
import pandas as pd
from datetime import datetime
import time
warnings.filterwarnings('ignore')
import numpy as np
import requests
import lxml
#How to get the HTML
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
#browser=webdriver.Chrome('chromedriver.exe')
browser=webdriver.Edge('msedgedriver.exe')

In [3]:
source =browser.get('https://bplplasma.com/find-a-center')
source_code=browser.page_source
soup = BeautifulSoup(source_code,'lxml')

In [4]:
blocks = soup.find_all("div", class_="pt-2 pb-3 px-3")

In [5]:
len(blocks)

56

In [6]:
blocks[53].find_all('div',class_='field__item')[1].text.strip()

'5202 Aldine Mail Route Road, Houston TX \xa077039'

In [18]:
blocks[6].find_all('div',class_='field__item')[1].text.strip()

'6075 Parkway Drive, Commerce City, CO 80022'

In [47]:
blocksize=0

full_a_list=[]
while True:
    
    full_add = blocks[blocksize].find_all("div",class_="field__item")[1].text.strip()
    full_a_list.append(full_add)
    blocksize=blocksize+1

IndexError: list index out of range

In [48]:
full_a_list

['1250 South Plaza Way, Suite C, Flagstaff, AZ 86001',
 '13550 West Van Buren Street, Goodyear, AZ 85338',
 '2320 East Bell Road, Suite 101, Phoenix, AZ 85022',
 '630 Malvern Avenue, Hot Springs, AR 71901',
 '2309A East Nettleton, Jonesboro, AR 72401',
 '824 South Spring Street, Little Rock, AR 72201',
 '6075 Parkway Drive, Commerce City, CO 80022',
 '6300 West Colfax Avenue, Lakewood, CO 80214',
 '150 N.W. 6th Street, Gainesville, FL 32601',
 '11601 East Colonial Drive, Orlando, FL 32817',
 '5252 East Fowler Avenue, Temple Terrace, FL 33617',
 '410 Old Morgantown Road, Bowling Green, KY 42101',
 '753 West Broadway, Farmington, NM 87401',
 '1706 South 2nd Street, Gallup, NM 87301',
 '2727 East 10th Street, Greenville, NC 27858',
 '6813 Broadway Avenue, Unit 10, Cleveland, OH 44105',
 '396 Town Square, Copperas Cove, TX 76522',
 '9813 Dyer Street, Suite 300, El Paso, TX 79924',
 '313 South Stanton Street, El Paso, TX 79901',
 '2415-A Main Street, Lubbock, TX 79401',
 '2217 34th Street, Lubbock, TX 79411',
 '207 West Palma Vista Drive, Suite G-H, Palmview, TX 78572',
 '1300 U.S. Highway 83 Business, Suite 3, Pharr, TX 78577',
 '1721 S.W.W.White Road, Suite 113, San Antonio, TX 78220',
 '320 W Calton Road, Laredo TX 78041',
 '5202 Aldine Mail Route Road, Houston TX \xa077039']

In [49]:
df = pd.DataFrame({"Name":[],"Date":[],"Address":[],"City":[],"State":[],"Zip":[] })

In [50]:
df.Address = full_a_list
df.Name = "BPLplasma"

In [51]:
df.head()

,Name,Date,Address,City,State,Zip
0,BPLplasma,NaN,"1250 South Plaza Way, Suite C, Flagstaff, AZ 8...",NaN,NaN,NaN
1,BPLplasma,NaN,"13550 West Van Buren Street, Goodyear, AZ 85338",NaN,NaN,NaN
2,BPLplasma,NaN,"2320 East Bell Road, Suite 101, Phoenix, AZ 85022",NaN,NaN,NaN
3,BPLplasma,NaN,"630 Malvern Avenue, Hot Springs, AR 71901",NaN,NaN,NaN
4,BPLplasma,NaN,"2309A East Nettleton, Jonesboro, AR 72401",NaN,NaN,NaN

In [102]:
zip_code = df.Address.apply(lambda x: x[-6:].strip())
state_code = df.Address.apply(lambda x: x[-9:-6].strip())

In [103]:
# city -> df.Address[25].replace("  ","")[-18:].split()[-3]

In [104]:
city_name=df.Address.apply(lambda x: x.strip().replace("  ","")[-25:].split()[-3]).replace(",","")

In [105]:
#current_time = datetime.datetime.now()
date_time_now = datetime.now()
current_time = date_time_now.strftime("%m/%d/%Y %H:%M:%S")

In [106]:
df['City']=city_name
df['State']=state_code
df['Zip']=zip_code
df['Date']=current_time

In [107]:
df.head(2)

,Name,Date,Address,City,State,Zip
0,BPLplasma,07/09/2021 14:06:07,"1250 South Plaza Way, Suite C, Flagstaff, AZ 8...","Flagstaff,",AZ,86001
1,BPLplasma,07/09/2021 14:06:07,"13550 West Van Buren Street, Goodyear, AZ 85338","Goodyear,",AZ,85338