# Transformations in Spark

## Setup
### Configure Spark Environment
Configure environment variables, Make sure you provide the correct Spark installation path/location.

In [1]:
## Set Python - Spark environment. Resolve necessary dependencies specific to Spark HBase Connector.
import os
import sys

os.environ["SPARK_HOME"] = "/usr/hdp/current/spark2-client"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] + "/py4j-0.10.6-src.zip")
sys.path.insert(0, os.environ["PYLIB"] + "/pyspark.zip")

### Starting the Spark Session
#### Create and Initialize Spark Driver
Creating a spark app that will run locally and will use as many threads as there are cores using local[*] :

In [2]:
## Create SparkContext, SparkSession
from os.path import expanduser, join, abspath

from pyspark.sql import SparkSession
from pyspark.sql import Row

# warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs:///apps/hive/warehouse/'

spark = SparkSession \
    .builder \
    .appName("Machine Learning Example using Spark ML") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .enableHiveSupport() \
    .getOrCreate()

#### Verify Spark Driver -  Spark Session

In [3]:
## Verify Spark Session
spark

#### Verify Python version

In [4]:
print(sys.version)
print(sys.version_info)

2.7.5 (default, Nov 20 2015, 02:00:19)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-4)]
sys.version_info(major=2, minor=7, micro=5, releaselevel='final', serial=0)

### Existing Database Schema
#### Columns

| **employees**     | **departments**   | **dept_emp**      | **dept_manager**  | **salaries**      | **titles**        |
|-------------------|-------------------|-------------------|-------------------|-------------------|-------------------|
| **emp_no**        | **dept_no**       | **seq_no**        | **seq_no**        | **seq_no**        | **seq_no**        |
| birth_date        | **dept_name**     | **emp_no**        | **dept_no**       | **emp_no**        | **emp_no**        |
| first_name        | last_modified     | **dept_no**       | **emp_no**        | salary            | **title**         |
| last_name         |                   | from_date         | from_date         | **from_date**     | **from_date**     |
| gender            |                   | to_date           | to_date           | to_date           | to_date           |
| hire_date         |                   | last_modified     | last_modified     | last_modified     | last_modified     |
| last_modified     |                   |                   |                   |                   |                   |

### HIVE Metastore
#### Verify Hive Metastore - Database and Table(s)

#### Verify previously created hive database - insofe_empdb_10064

In [5]:
# insofe_empdb_10064
spark.sql("USE insofe_empdb_10064")

DataFrame[]

#### Verify/list all the table(s) in the above database

In [6]:
spark.sql("SHOW TABLES").show()

+------------------+------------+-----------+
|          database|   tableName|isTemporary|
+------------------+------------+-----------+
|insofe_empdb_10064| departments|      false|
|insofe_empdb_10064|    dept_emp|      false|
|insofe_empdb_10064|dept_manager|      false|
|insofe_empdb_10064|   employees|      false|
|insofe_empdb_10064|    salaries|      false|
|insofe_empdb_10064|      titles|      false|
+------------------+------------+-----------+

Now there are 6 tables available in HIVE, in the database *insofe_empdb_10064**, Access these tables and process the data by creating DataFrames.

## Transformations
#### 1. Create DataFrame for each of the underlying table.
#### 2. Remove unnecessary rows (retain only active rows from the tables where necessary) and columns.
#### 3. Cache DataFrames as necessary.

### Load and Filter DataFrames.

#### Departments Table
Create DataFrame for departments data from departments table in HIVE

In [7]:
deptDF = spark.sql("SELECT * FROM departments")

Verify the above DataFrame

In [8]:
deptDF.show()

+-------+------------------+-------------------+
|dept_no|         dept_name|      last_modified|
+-------+------------------+-------------------+
|   d001|         Marketing|2013-01-28 23:59:59|
|   d002|           Finance|2013-01-28 23:59:59|
|   d003|   Human Resources|2013-01-28 23:59:59|
|   d004|        Production|2013-01-28 23:59:59|
|   d005|       Development|2013-01-28 23:59:59|
|   d006|Quality Management|2013-01-28 23:59:59|
|   d007|             Sales|2013-01-28 23:59:59|
|   d008|          Research|2013-01-28 23:59:59|
|   d009|  Customer Service|2013-01-28 23:59:59|
|   d010|         Analytics|2019-01-17 12:47:16|
+-------+------------------+-------------------+

Verify the schema for the above DataFrame

In [9]:
deptDF.printSchema()

root
 |-- dept_no: string (nullable = true)
 |-- dept_name: string (nullable = true)
 |-- last_modified: timestamp (nullable = true)

#### Departments and Employees Table
Create DataFrame for departments & employees from dept_emp table in HIVE
- An employee might work in different departments during their tenure.
- At any time an employee is active in only in one department.
- So, there will be multiple records for an employee with different departments
- At any time an there will be only one deparment an employee actively working, and is can be identified by to_date value '9999-01-01'

In [10]:
dept_empDF = spark.sql("SELECT * FROM dept_emp")

Verify the above DataFrame

In [11]:
dept_empDF.show()

+------+------+-------+----------+----------+-------------------+
|seq_no|emp_no|dept_no| from_date|   to_date|      last_modified|
+------+------+-------+----------+----------+-------------------+
|     1|     1|   d001|1986-01-01|9999-01-01|2013-01-28 23:59:59|
|    10|    10|   d002|1986-01-14|9999-01-01|2013-01-28 23:59:59|
|   100|    94|   d004|1994-05-26|1999-04-29|2013-01-28 23:59:59|
|  1000|   909|   d009|1988-09-12|9999-01-01|2013-01-28 23:59:59|
| 10000|  9059|   d008|1995-04-21|1996-02-20|2013-01-28 23:59:59|
|100000| 90419|   d004|1998-05-23|9999-01-01|2013-01-28 23:59:59|
|100001| 90420|   d008|1991-07-23|2005-12-15|2013-01-28 23:59:59|
|100002| 90421|   d005|1991-07-23|9999-01-01|2013-01-28 23:59:59|
|100003| 90422|   d002|1992-03-25|9999-01-01|2013-01-28 23:59:59|
|100004| 90422|   d003|1991-07-23|1992-03-25|2013-01-28 23:59:59|
|100005| 90423|   d004|1991-07-23|2005-10-14|2013-01-28 23:59:59|
|100006| 90424|   d007|2003-06-25|9999-01-01|2013-01-28 23:59:59|
|100007| 90425|   d007|1996-02-26|9999-01-01|2013-01-28 23:59:59|
|100008| 90426|   d005|2001-12-15|2004-08-14|2013-01-28 23:59:59|
|100009| 90427|   d008|1991-07-23|9999-01-01|2013-01-28 23:59:59|
| 10001|  9060|   d003|1991-09-30|9999-01-01|2013-01-28 23:59:59|
|100010| 90428|   d007|2003-12-03|9999-01-01|2013-01-28 23:59:59|
|100011| 90429|   d003|1991-07-23|1994-09-18|2013-01-28 23:59:59|
|100012| 90430|   d004|2000-06-21|9999-01-01|2013-01-28 23:59:59|
|100013| 90430|   d005|1998-11-23|2000-06-21|2013-01-28 23:59:59|
+------+------+-------+----------+----------+-------------------+
only showing top 20 rows

Veify the schema for the above DataFrame

In [12]:
dept_empDF.printSchema()

root
 |-- seq_no: integer (nullable = true)
 |-- emp_no: integer (nullable = true)
 |-- dept_no: string (nullable = true)
 |-- from_date: string (nullable = true)
 |-- to_date: string (nullable = true)
 |-- last_modified: timestamp (nullable = true)

Verify the record counts in the above DataFrame

In [13]:
dept_empDF.count()

341603

Filter only the active records from the above DataFrame, Active employees can be identified with the to_date == '9999-01-01'

In [14]:
# from pyspark.sql.functions import col
# active_dept_empDF = dept_empDF.filter(col("to_date") == '9999-01-01')
active_dept_empDF = dept_empDF[dept_empDF.to_date == '9999-01-01']

Verify the active employees count from the above DataFrame

In [15]:
active_dept_empDF.count()

250124

Verify the Data types from the above DataFrame

In [16]:
active_dept_empDF.dtypes

[('seq_no', 'int'),
 ('emp_no', 'int'),
 ('dept_no', 'string'),
 ('from_date', 'string'),
 ('to_date', 'string'),
 ('last_modified', 'timestamp')]

In [17]:
active_dept_empDF.count()

250124

Remove unnecessary columns, **last_modified** column is not necessary.

In [18]:
active_dept_empDF = active_dept_empDF.select('seq_no', 'emp_no', 'dept_no', 'from_date', 'to_date')

Verify above DataFrame

In [19]:
active_dept_empDF.show()

+------+------+-------+----------+----------+
|seq_no|emp_no|dept_no| from_date|   to_date|
+------+------+-------+----------+----------+
|     1|     1|   d001|1986-01-01|9999-01-01|
|    10|    10|   d002|1986-01-14|9999-01-01|
|  1000|   909|   d009|1988-09-12|9999-01-01|
|100000| 90419|   d004|1998-05-23|9999-01-01|
|100002| 90421|   d005|1991-07-23|9999-01-01|
|100003| 90422|   d002|1992-03-25|9999-01-01|
|100006| 90424|   d007|2003-06-25|9999-01-01|
|100007| 90425|   d007|1996-02-26|9999-01-01|
|100009| 90427|   d008|1991-07-23|9999-01-01|
| 10001|  9060|   d003|1991-09-30|9999-01-01|
|100010| 90428|   d007|2003-12-03|9999-01-01|
|100012| 90430|   d004|2000-06-21|9999-01-01|
|100014| 90431|   d004|1995-08-26|9999-01-01|
|100018| 90433|   d009|2005-11-15|9999-01-01|
|100019| 90434|   d005|1991-07-23|9999-01-01|
| 10002|  9061|   d001|1986-10-24|9999-01-01|
|100022| 90437|   d005|1991-07-23|9999-01-01|
|100023| 90438|   d004|2003-04-25|9999-01-01|
|100025| 90440|   d006|1998-10-18|9999-01-01|
|100029| 90442|   d006|2003-02-08|9999-01-01|
+------+------+-------+----------+----------+
only showing top 20 rows

Make the DataFrame available in in-memory

In [20]:
active_dept_empDF.cache()

DataFrame[seq_no: int, emp_no: int, dept_no: string, from_date: string, to_date: string]

#### Departments and Managers Table
Create DataFrame for departments and managers data from dept_manager table in HIVE

- For each department respective manager's employee number is available in dept_manager table
- A department may have multiple manager's
- So, there will be multiple records for a department (with different employee number's for different time periods)
- At any time an there will be only one active manager for each department and is can be identified by to_date value '9999-01-01'

In [21]:
dept_managerDF = spark.sql("SELECT * FROM dept_manager")

Verify the departments and manager's DataFrame

In [22]:
dept_managerDF.show()

+------+-------+------+----------+----------+-------------------+
|seq_no|dept_no|emp_no| from_date|   to_date|      last_modified|
+------+-------+------+----------+----------+-------------------+
|     1|   d001|     1|1986-01-01|1992-10-01|2013-01-28 23:59:59|
|    10|   d002|    10|1990-12-17|9999-01-01|2013-01-28 23:59:59|
|    11|   d003| 19827|1993-03-21|9999-01-01|2013-01-28 23:59:59|
|    12|   d004| 31345|1990-09-09|1994-08-02|2013-01-28 23:59:59|
|    13|   d001| 45502|1993-10-01|9999-01-01|2013-01-28 23:59:59|
|    14|   d006| 57739|1994-09-12|1997-06-28|2013-01-28 23:59:59|
|    15|   d005| 64439|1995-04-25|9999-01-01|2013-01-28 23:59:59|
|    16|   d007| 71341|1994-03-07|9999-01-01|2013-01-28 23:59:59|
|    17|   d008|107706|1996-04-08|9999-01-01|2013-01-28 23:59:59|
|    18|   d009|108801|1993-10-17|1997-09-08|2013-01-28 23:59:59|
|    19|   d004|129808|1998-08-02|2002-08-30|2013-01-28 23:59:59|
|     2|   d002|     2|1986-01-01|1990-12-17|2013-01-28 23:59:59|
|    20|   d006|136923|1995-05-06|1997-09-12|2013-01-28 23:59:59|
|    21|   d006|149081|2000-06-28|9999-01-01|2013-01-28 23:59:59|
|    22|   d009|151543|2003-01-03|9999-01-01|2013-01-28 23:59:59|
|    23|   d009|204867|2001-09-08|2005-01-03|2013-01-28 23:59:59|
|    24|   d004|215054|2005-08-30|9999-01-01|2013-01-28 23:59:59|
|    25|   d010|300030|2013-01-29|9999-01-01|2019-01-19 14:23:13|
|     3|   d003|     3|1986-01-01|1993-03-21|2013-01-28 23:59:59|
|     4|   d004|     4|1986-01-01|1989-09-09|2013-01-28 23:59:59|
+------+-------+------+----------+----------+-------------------+
only showing top 20 rows

Verify the schema for departments and manager's DataFrame

In [23]:
dept_managerDF.printSchema()

root
 |-- seq_no: integer (nullable = true)
 |-- dept_no: string (nullable = true)
 |-- emp_no: integer (nullable = true)
 |-- from_date: string (nullable = true)
 |-- to_date: string (nullable = true)
 |-- last_modified: timestamp (nullable = true)

Total Count in departments and manager's DataFrame

In [24]:
dept_managerDF.count()

25

Filter only the active records from above DataFrame
<br>Though there are only total 10 departments, but there are 25 records (manager records) exists,
<br>remove the inactive records, Active records are whose to_date is '9999-01-01'

In [25]:
# from pyspark.sql.functions import col
# active_dept_managerDF = dept_managerDF.filter(col("to_date") == '9999-01-01')
active_dept_managerDF = dept_managerDF[dept_managerDF.to_date == '9999-01-01']

Verify the records count from the above DataFrame

In [26]:
active_dept_managerDF.count()

10

Verify the columns

In [27]:
active_dept_managerDF.dtypes

[('seq_no', 'int'),
 ('dept_no', 'string'),
 ('emp_no', 'int'),
 ('from_date', 'string'),
 ('to_date', 'string'),
 ('last_modified', 'timestamp')]

Remove unwanted columns and rename the columns as necessary, **seq_no**, **last_modified** and **to_date** are not necessary.

In [28]:
from pyspark.sql.functions import expr
active_dept_managerDF = active_dept_managerDF.select('dept_no', expr('emp_no AS mgr_emp_no'), expr('from_date AS mgr_from_date'))

Verify above DataFrame

In [29]:
active_dept_managerDF.show()

+-------+----------+-------------+
|dept_no|mgr_emp_no|mgr_from_date|
+-------+----------+-------------+
|   d002|        10|   1990-12-17|
|   d003|     19827|   1993-03-21|
|   d001|     45502|   1993-10-01|
|   d005|     64439|   1995-04-25|
|   d007|     71341|   1994-03-07|
|   d008|    107706|   1996-04-08|
|   d006|    149081|   2000-06-28|
|   d009|    151543|   2003-01-03|
|   d004|    215054|   2005-08-30|
|   d010|    300030|   2013-01-29|
+-------+----------+-------------+

#### Employees Table
Create DataFrame for employees data from employees table in HIVE

In [30]:
employeesDF = spark.sql("SELECT * FROM employees")

Verify employees DataFrame

In [31]:
employeesDF.show(4)

+------+----------+----------+------------+------+----------+-------------------+
|emp_no|birth_date|first_name|   last_name|gender| hire_date|      last_modified|
+------+----------+----------+------------+------+----------+-------------------+
|     1|1958-09-12| Margareta|  Markovitch|     M|1986-01-01|2013-01-28 23:59:59|
|     2|1961-10-28|      Ebru|       Alpin|     M|1986-01-01|2013-01-28 23:59:59|
|     3|1955-06-24|   Shirish|Ossenbruggen|     F|1986-01-01|2013-01-28 23:59:59|
|     4|1958-06-08| Krassimir|     Wegerle|     F|1986-01-01|2013-01-28 23:59:59|
+------+----------+----------+------------+------+----------+-------------------+
only showing top 4 rows

Verify schema of employees DataFrame

In [32]:
employeesDF.printSchema()

root
 |-- emp_no: integer (nullable = true)
 |-- birth_date: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- hire_date: string (nullable = true)
 |-- last_modified: timestamp (nullable = true)

Remove unwanted columns

In [33]:
employeesDF = employeesDF.drop('last_modified')

Verify above DataFrame

In [34]:
employeesDF.show(4)

+------+----------+----------+------------+------+----------+
|emp_no|birth_date|first_name|   last_name|gender| hire_date|
+------+----------+----------+------------+------+----------+
|     1|1958-09-12| Margareta|  Markovitch|     M|1986-01-01|
|     2|1961-10-28|      Ebru|       Alpin|     M|1986-01-01|
|     3|1955-06-24|   Shirish|Ossenbruggen|     F|1986-01-01|
|     4|1958-06-08| Krassimir|     Wegerle|     F|1986-01-01|
+------+----------+----------+------------+------+----------+
only showing top 4 rows

#### Salaries Table
Create DataFrame for salaries data from salaries table in HIVE

In [35]:
salariesDF = spark.sql("SELECT * FROM salaries")

Verify salaries DataFrame

In [36]:
salariesDF.show(4)

+------+------+------+----------+----------+-------------------+
|seq_no|emp_no|salary| from_date|   to_date|      last_modified|
+------+------+------+----------+----------+-------------------+
|     1|     1| 70166|1986-01-01|1987-01-01|2013-01-28 23:59:59|
|    10|     1| 91165|1994-12-30|1995-12-30|2013-01-28 23:59:59|
|   100|     6| 84203|1994-12-30|1995-12-30|2013-01-28 23:59:59|
|  1000|    73| 39000|1997-11-25|1998-11-25|2013-01-28 23:59:59|
+------+------+------+----------+----------+-------------------+
only showing top 4 rows

Verify schema of salaries DataFrame

In [37]:
salariesDF.printSchema()

root
 |-- seq_no: integer (nullable = true)
 |-- emp_no: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- from_date: string (nullable = true)
 |-- to_date: string (nullable = true)
 |-- last_modified: timestamp (nullable = true)

Verify count of records in salaries DataFrame

In [38]:
salariesDF.count()

2854047

Filter only the active records from above DataFrame

In [39]:
active_salariesDF = salariesDF[salariesDF.to_date=='9999-01-01']

Verify the record count

In [40]:
active_salariesDF.count()

250124

In [41]:
active_salariesDF.dtypes

[('seq_no', 'int'),
 ('emp_no', 'int'),
 ('salary', 'int'),
 ('from_date', 'string'),
 ('to_date', 'string'),
 ('last_modified', 'timestamp')]

Remove and rename unnecessary columns

In [42]:
from pyspark.sql.functions import col, expr, column
active_salariesDF = active_salariesDF.select("emp_no", "salary", expr("from_date as sal_from_date"))

In [43]:
active_salariesDF.dtypes

[('emp_no', 'int'), ('salary', 'int'), ('sal_from_date', 'string')]

#### Titles Table
Create titles DataFrame for the titles table in HIVE

In [44]:
titlesDF = spark.sql("SELECT * FROM titles")

Verify titles DataFrame

In [45]:
titlesDF.show(4)

+------+------+----------------+----------+----------+-------------------+
|seq_no|emp_no|           title| from_date|   to_date|      last_modified|
+------+------+----------------+----------+----------+-------------------+
|     1|     1|         Manager|1986-01-01|1992-10-01|2013-01-28 23:59:59|
|    10|     5|Technique Leader|1993-04-25|9999-01-01|2013-01-28 23:59:59|
|   100|    60|           Staff|1997-11-02|9999-01-01|2013-01-28 23:59:59|
|  1000|   620|        Engineer|1996-09-15|2003-03-20|2013-01-28 23:59:59|
+------+------+----------------+----------+----------+-------------------+
only showing top 4 rows

Verify titles DataFrame schema

In [46]:
titlesDF.printSchema()

root
 |-- seq_no: integer (nullable = true)
 |-- emp_no: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- from_date: string (nullable = true)
 |-- to_date: string (nullable = true)
 |-- last_modified: timestamp (nullable = true)

Verify records count in the above DataFrame

In [47]:
titlesDF.count()

453308

Filter active records from the above DataFrame

In [48]:
active_titlesDF = titlesDF[titlesDF.to_date=='9999-01-01']

In [49]:
active_titlesDF.dtypes

[('seq_no', 'int'),
 ('emp_no', 'int'),
 ('title', 'string'),
 ('from_date', 'string'),
 ('to_date', 'string'),
 ('last_modified', 'timestamp')]

Remove and rename the columns as necessary

In [50]:
from pyspark.sql.functions import col, expr, column
active_titlesDF = active_titlesDF.select('emp_no', 'title', expr('from_date AS title_from_date'))

In [51]:
active_titlesDF.dtypes

[('emp_no', 'int'), ('title', 'string'), ('title_from_date', 'string')]


Join department and departments_manager s DataFrames

Result will have each department and corresponding manager's employee no

In [52]:
dept_curr_mgrDF = deptDF.join(active_dept_managerDF, 'dept_no', 'inner')
dept_curr_mgrDF.show(50)

+-------+------------------+-------------------+----------+-------------+
|dept_no|         dept_name|      last_modified|mgr_emp_no|mgr_from_date|
+-------+------------------+-------------------+----------+-------------+
|   d002|           Finance|2013-01-28 23:59:59|        10|   1990-12-17|
|   d003|   Human Resources|2013-01-28 23:59:59|     19827|   1993-03-21|
|   d001|         Marketing|2013-01-28 23:59:59|     45502|   1993-10-01|
|   d005|       Development|2013-01-28 23:59:59|     64439|   1995-04-25|
|   d007|             Sales|2013-01-28 23:59:59|     71341|   1994-03-07|
|   d008|          Research|2013-01-28 23:59:59|    107706|   1996-04-08|
|   d006|Quality Management|2013-01-28 23:59:59|    149081|   2000-06-28|
|   d009|  Customer Service|2013-01-28 23:59:59|    151543|   2003-01-03|
|   d004|        Production|2013-01-28 23:59:59|    215054|   2005-08-30|
|   d010|         Analytics|2019-01-17 12:47:16|    300030|   2013-01-29|
+-------+------------------+-------------------+----------+-------------+

Find the manager's details by joining above DataFrame with employee's details using emp_no

In [53]:
dept_curr_mgrDF.dtypes

[('dept_no', 'string'),
 ('dept_name', 'string'),
 ('last_modified', 'timestamp'),
 ('mgr_emp_no', 'int'),
 ('mgr_from_date', 'string')]

In [54]:
employeesDF.dtypes

[('emp_no', 'int'),
 ('birth_date', 'string'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('gender', 'string'),
 ('hire_date', 'string')]

In [55]:
join_expr = dept_curr_mgrDF["mgr_emp_no"] == employeesDF["emp_no"]

In [56]:
dept_curr_mgr_detailsDF = dept_curr_mgrDF.join(employeesDF,join_expr,'inner')

In [57]:
dept_curr_mgr_detailsDF.dtypes

[('dept_no', 'string'),
 ('dept_name', 'string'),
 ('last_modified', 'timestamp'),
 ('mgr_emp_no', 'int'),
 ('mgr_from_date', 'string'),
 ('emp_no', 'int'),
 ('birth_date', 'string'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('gender', 'string'),
 ('hire_date', 'string')]

In [58]:
dept_curr_mgr_detailsDF.show(4)

+-------+---------------+-------------------+----------+-------------+------+----------+----------+----------+------+----------+
|dept_no|      dept_name|      last_modified|mgr_emp_no|mgr_from_date|emp_no|birth_date|first_name| last_name|gender| hire_date|
+-------+---------------+-------------------+----------+-------------+------+----------+----------+----------+------+----------+
|   d002|        Finance|2013-01-28 23:59:59|        10|   1990-12-17|    10|1959-03-28|     Isamu|Legleitner|     F|1986-01-14|
|   d003|Human Resources|2013-01-28 23:59:59|     19827|   1993-03-21| 19827|1960-12-02|   Karsten|   Sigstam|     F|1986-08-04|
|   d001|      Marketing|2013-01-28 23:59:59|     45502|   1993-10-01| 45502|1967-06-21|  Vishwani|  Minakawa|     M|1988-04-12|
|   d005|    Development|2013-01-28 23:59:59|     64439|   1995-04-25| 64439|1970-04-25|      Leon|  DasSarma|     F|1989-10-21|
+-------+---------------+-------------------+----------+-------------+------+----------+----------+----------+------+----------+
only showing top 4 rows

Rename columns as necessary

In [59]:
from pyspark.sql.functions import col

replacements = {'birth_date' : 'mgr_birth_date', 
                'first_name' : 'mgr_first_name',
                'last_name' : 'mgr_last_name',
                'gender' : 'mgr_gender',
                'hire_date' : 'mgr_hire_date'
               }

dept_curr_mgr_detailsDF = dept_curr_mgr_detailsDF.select([col(c).alias(replacements.get(c, c)) for c in dept_curr_mgr_detailsDF.columns])

Verify above DataFrame

In [60]:
dept_curr_mgr_detailsDF.show(4)

+-------+---------------+-------------------+----------+-------------+------+--------------+--------------+-------------+----------+-------------+
|dept_no|      dept_name|      last_modified|mgr_emp_no|mgr_from_date|emp_no|mgr_birth_date|mgr_first_name|mgr_last_name|mgr_gender|mgr_hire_date|
+-------+---------------+-------------------+----------+-------------+------+--------------+--------------+-------------+----------+-------------+
|   d002|        Finance|2013-01-28 23:59:59|        10|   1990-12-17|    10|    1959-03-28|         Isamu|   Legleitner|         F|   1986-01-14|
|   d003|Human Resources|2013-01-28 23:59:59|     19827|   1993-03-21| 19827|    1960-12-02|       Karsten|      Sigstam|         F|   1986-08-04|
|   d001|      Marketing|2013-01-28 23:59:59|     45502|   1993-10-01| 45502|    1967-06-21|      Vishwani|     Minakawa|         M|   1988-04-12|
|   d005|    Development|2013-01-28 23:59:59|     64439|   1995-04-25| 64439|    1970-04-25|          Leon|     DasSarma|         F|   1989-10-21|
+-------+---------------+-------------------+----------+-------------+------+--------------+--------------+-------------+----------+-------------+
only showing top 4 rows

Remove unwanted columns

In [61]:
dept_curr_mgr_detailsDF = dept_curr_mgr_detailsDF.drop('last_modified', 'emp_no')

In [62]:
dept_curr_mgr_detailsDF.dtypes

[('dept_no', 'string'),
 ('dept_name', 'string'),
 ('mgr_emp_no', 'int'),
 ('mgr_from_date', 'string'),
 ('mgr_birth_date', 'string'),
 ('mgr_first_name', 'string'),
 ('mgr_last_name', 'string'),
 ('mgr_gender', 'string'),
 ('mgr_hire_date', 'string')]

In [63]:
dept_curr_mgr_detailsDF.show(4)

+-------+---------------+----------+-------------+--------------+--------------+-------------+----------+-------------+
|dept_no|      dept_name|mgr_emp_no|mgr_from_date|mgr_birth_date|mgr_first_name|mgr_last_name|mgr_gender|mgr_hire_date|
+-------+---------------+----------+-------------+--------------+--------------+-------------+----------+-------------+
|   d002|        Finance|        10|   1990-12-17|    1959-03-28|         Isamu|   Legleitner|         F|   1986-01-14|
|   d003|Human Resources|     19827|   1993-03-21|    1960-12-02|       Karsten|      Sigstam|         F|   1986-08-04|
|   d001|      Marketing|     45502|   1993-10-01|    1967-06-21|      Vishwani|     Minakawa|         M|   1988-04-12|
|   d005|    Development|     64439|   1995-04-25|    1970-04-25|          Leon|     DasSarma|         F|   1989-10-21|
+-------+---------------+----------+-------------+--------------+--------------+-------------+----------+-------------+
only showing top 4 rows

Join employees DataFrame with departments&employee DataFrame
<br>Join employeesDF and active_dept_empDF based on emp_no
<br>result DataFrame of the above is employee and his/her corresponding department

In [64]:
employeesDF.dtypes

[('emp_no', 'int'),
 ('birth_date', 'string'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('gender', 'string'),
 ('hire_date', 'string')]

In [65]:
active_dept_empDF.dtypes

[('seq_no', 'int'),
 ('emp_no', 'int'),
 ('dept_no', 'string'),
 ('from_date', 'string'),
 ('to_date', 'string')]

In [66]:
emp_deptDF = active_dept_empDF.join(employeesDF,'emp_no','inner')

Verify the above result DataFrame

In [67]:
emp_deptDF.show(4)

+------+------+-------+----------+----------+----------+----------+---------+------+----------+
|emp_no|seq_no|dept_no| from_date|   to_date|birth_date|first_name|last_name|gender| hire_date|
+------+------+-------+----------+----------+----------+----------+---------+------+----------+
|   148|   156|   d005|1986-02-03|9999-01-01|1960-03-11|    Feipei| Nollmann|     M|1986-02-03|
|   463|   507|   d008|1986-02-06|9999-01-01|1955-04-15|Dharmaraja| Sadowsky|     M|1986-02-06|
|   496|   543|   d006|2001-09-02|9999-01-01|1964-03-29|      Mari|    Rotem|     M|1986-02-06|
|   833|   914|   d005|1994-03-25|9999-01-01|1961-09-14|      Huan|  Preusig|     M|1986-02-09|
+------+------+-------+----------+----------+----------+----------+---------+------+----------+
only showing top 4 rows

Rename the columns

In [68]:
from pyspark.sql.functions import col

replacements = {
    'from_date' : 'dept_from_date',
    'birth_date' : 'emp_birth_date',
    'first_name' : 'emp_first_name',
    'last_name' : 'emp_last_name',
    'gender' : 'emp_gender',
    'hire_date' : 'emp_hire_date'
}

emp_deptDF = emp_deptDF.select([col(c).alias(replacements.get(c, c)) for c in emp_deptDF.columns])

Verify DataFrame

In [69]:
emp_deptDF.show(4)

+------+------+-------+--------------+----------+--------------+--------------+-------------+----------+-------------+
|emp_no|seq_no|dept_no|dept_from_date|   to_date|emp_birth_date|emp_first_name|emp_last_name|emp_gender|emp_hire_date|
+------+------+-------+--------------+----------+--------------+--------------+-------------+----------+-------------+
|   148|   156|   d005|    1986-02-03|9999-01-01|    1960-03-11|        Feipei|     Nollmann|         M|   1986-02-03|
|   463|   507|   d008|    1986-02-06|9999-01-01|    1955-04-15|    Dharmaraja|     Sadowsky|         M|   1986-02-06|
|   496|   543|   d006|    2001-09-02|9999-01-01|    1964-03-29|          Mari|        Rotem|         M|   1986-02-06|
|   833|   914|   d005|    1994-03-25|9999-01-01|    1961-09-14|          Huan|      Preusig|         M|   1986-02-09|
+------+------+-------+--------------+----------+--------------+--------------+-------------+----------+-------------+
only showing top 4 rows

Verify active records count

In [70]:
emp_deptDF.count()

250124

Create a DataFrame with employees and respective manager's details<br>
<br>DataFrame **emp_deptDF** contains all the active employees along with the their department
<br>DataFrame **dept_curr_mgr_detailsDF** contains all the departments its manager''s details
<br>Join these two DataFrames based on the **dept_no**, to result a DataFrame with employee''s along with the manager''s details.

In [71]:
emp_deptDF.dtypes

[('emp_no', 'int'),
 ('seq_no', 'int'),
 ('dept_no', 'string'),
 ('dept_from_date', 'string'),
 ('to_date', 'string'),
 ('emp_birth_date', 'string'),
 ('emp_first_name', 'string'),
 ('emp_last_name', 'string'),
 ('emp_gender', 'string'),
 ('emp_hire_date', 'string')]

In [72]:
emp_deptDF.count()

250124

In [73]:
dept_curr_mgr_detailsDF.dtypes

[('dept_no', 'string'),
 ('dept_name', 'string'),
 ('mgr_emp_no', 'int'),
 ('mgr_from_date', 'string'),
 ('mgr_birth_date', 'string'),
 ('mgr_first_name', 'string'),
 ('mgr_last_name', 'string'),
 ('mgr_gender', 'string'),
 ('mgr_hire_date', 'string')]

In [74]:
dept_curr_mgr_detailsDF.count()

10

Join by broadcasting the smaller table - efficient join

In [75]:
from pyspark.sql.functions import broadcast
active_emp_dept_mgrDF = emp_deptDF.join(broadcast(dept_curr_mgr_detailsDF), 'dept_no', 'inner')

Verify the DataFrame

In [76]:
active_emp_dept_mgrDF.show(4)

+-------+------+------+--------------+----------+--------------+--------------+-------------+----------+-------------+------------------+----------+-------------+--------------+--------------+-------------+----------+-------------+
|dept_no|emp_no|seq_no|dept_from_date|   to_date|emp_birth_date|emp_first_name|emp_last_name|emp_gender|emp_hire_date|         dept_name|mgr_emp_no|mgr_from_date|mgr_birth_date|mgr_first_name|mgr_last_name|mgr_gender|mgr_hire_date|
+-------+------+------+--------------+----------+--------------+--------------+-------------+----------+-------------+------------------+----------+-------------+--------------+--------------+-------------+----------+-------------+
|   d005|   148|   156|    1986-02-03|9999-01-01|    1960-03-11|        Feipei|     Nollmann|         M|   1986-02-03|       Development|     64439|   1995-04-25|    1970-04-25|          Leon|     DasSarma|         F|   1989-10-21|
|   d008|   463|   507|    1986-02-06|9999-01-01|    1955-04-15|    Dharmaraja|     Sadowsky|         M|   1986-02-06|          Research|    107706|   1996-04-08|    1962-06-27|        Hilary|       Kambil|         F|   1993-01-31|
|   d006|   496|   543|    2001-09-02|9999-01-01|    1964-03-29|          Mari|        Rotem|         M|   1986-02-06|Quality Management|    149081|   2000-06-28|    1972-08-19|          Dung|        Pesch|         M|   1995-06-09|
|   d005|   833|   914|    1994-03-25|9999-01-01|    1961-09-14|          Huan|      Preusig|         M|   1986-02-09|       Development|     64439|   1995-04-25|    1970-04-25|          Leon|     DasSarma|         F|   1989-10-21|
+-------+------+------+--------------+----------+--------------+--------------+-------------+----------+-------------+------------------+----------+-------------+--------------+--------------+-------------+----------+-------------+
only showing top 4 rows

Verify the counts

In [77]:
active_emp_dept_mgrDF.count()

250124

Make the DataFrame available in in-memory

In [78]:
active_emp_dept_mgrDF.cache()

DataFrame[dept_no: string, emp_no: int, seq_no: int, dept_from_date: string, to_date: string, emp_birth_date: string, emp_first_name: string, emp_last_name: string, emp_gender: string, emp_hire_date: string, dept_name: string, mgr_emp_no: int, mgr_from_date: string, mgr_birth_date: string, mgr_first_name: string, mgr_last_name: string, mgr_gender: string, mgr_hire_date: string]

Join Salaries and Titles DataFrames<br>
<br>**active_salariesDF** DataFrame contains the current salaries details of active employees
<br>**active_titlesDF** DataFrame contains the current titles/designation details of active employees
<br>join these two DataFrames based on the emp_no
<br>result is DataFrame consists of all active employees along with their salaries and titles details

In [79]:
active_salariesDF.dtypes

[('emp_no', 'int'), ('salary', 'int'), ('sal_from_date', 'string')]

In [80]:
active_titlesDF.dtypes

[('emp_no', 'int'), ('title', 'string'), ('title_from_date', 'string')]

In [81]:
active_salariesDF.cache()
active_titlesDF.cache()

DataFrame[emp_no: int, title: string, title_from_date: string]

In [82]:
emp_sal_titlesDF = active_salariesDF.join(active_titlesDF, 'emp_no', 'inner')

Verify the DataFrame

In [83]:
emp_sal_titlesDF.show(4)

+------+------+-------------+---------------+---------------+
|emp_no|salary|sal_from_date|          title|title_from_date|
+------+------+-------------+---------------+---------------+
|   148|121640|   2003-01-30|Senior Engineer|     1993-02-04|
|   463| 63130|   2003-02-02|   Senior Staff|     1986-02-06|
|   496| 50281|   2002-08-16|       Engineer|     2000-08-17|
|   833| 52747|   2003-03-23|Senior Engineer|     1994-03-25|
+------+------+-------------+---------------+---------------+
only showing top 4 rows

Verify record count

In [84]:
emp_sal_titlesDF.count()

250124

In [85]:
emp_sal_titlesDF.cache()

DataFrame[emp_no: int, salary: int, sal_from_date: string, title: string, title_from_date: string]

Final Join<br>
<br>By now there are 2 DataFrames
<br>**active_emp_dept_mgrDF** consists of all active employees along with the manager''s details.
<br>**emp_sal_titlesDF** consists of the current salary and titles details for all the active employees.
<br>join these two DataFrames to result a DataFrame with all the details for all active employees

In [86]:
active_emp_dept_mgrDF.count()

250124

In [87]:
active_emp_dept_mgrDF.dtypes

[('dept_no', 'string'),
 ('emp_no', 'int'),
 ('seq_no', 'int'),
 ('dept_from_date', 'string'),
 ('to_date', 'string'),
 ('emp_birth_date', 'string'),
 ('emp_first_name', 'string'),
 ('emp_last_name', 'string'),
 ('emp_gender', 'string'),
 ('emp_hire_date', 'string'),
 ('dept_name', 'string'),
 ('mgr_emp_no', 'int'),
 ('mgr_from_date', 'string'),
 ('mgr_birth_date', 'string'),
 ('mgr_first_name', 'string'),
 ('mgr_last_name', 'string'),
 ('mgr_gender', 'string'),
 ('mgr_hire_date', 'string')]

In [88]:
emp_sal_titlesDF.count()

250124

In [89]:
emp_sal_titlesDF.dtypes

[('emp_no', 'int'),
 ('salary', 'int'),
 ('sal_from_date', 'string'),
 ('title', 'string'),
 ('title_from_date', 'string')]

In [90]:
emp_sal_titlesDF.cache()
active_emp_dept_mgrDF.cache()

DataFrame[dept_no: string, emp_no: int, seq_no: int, dept_from_date: string, to_date: string, emp_birth_date: string, emp_first_name: string, emp_last_name: string, emp_gender: string, emp_hire_date: string, dept_name: string, mgr_emp_no: int, mgr_from_date: string, mgr_birth_date: string, mgr_first_name: string, mgr_last_name: string, mgr_gender: string, mgr_hire_date: string]

In [91]:
active_emp_detailsDF = active_emp_dept_mgrDF.join(emp_sal_titlesDF, 'emp_no', 'inner')

In [92]:
active_emp_detailsDF.cache()

DataFrame[emp_no: int, dept_no: string, seq_no: int, dept_from_date: string, to_date: string, emp_birth_date: string, emp_first_name: string, emp_last_name: string, emp_gender: string, emp_hire_date: string, dept_name: string, mgr_emp_no: int, mgr_from_date: string, mgr_birth_date: string, mgr_first_name: string, mgr_last_name: string, mgr_gender: string, mgr_hire_date: string, salary: int, sal_from_date: string, title: string, title_from_date: string]

Verify DataFrame

In [93]:
active_emp_detailsDF.show(4)

+------+-------+------+--------------+----------+--------------+--------------+-------------+----------+-------------+------------------+----------+-------------+--------------+--------------+-------------+----------+-------------+------+-------------+---------------+---------------+
|emp_no|dept_no|seq_no|dept_from_date|   to_date|emp_birth_date|emp_first_name|emp_last_name|emp_gender|emp_hire_date|         dept_name|mgr_emp_no|mgr_from_date|mgr_birth_date|mgr_first_name|mgr_last_name|mgr_gender|mgr_hire_date|salary|sal_from_date|          title|title_from_date|
+------+-------+------+--------------+----------+--------------+--------------+-------------+----------+-------------+------------------+----------+-------------+--------------+--------------+-------------+----------+-------------+------+-------------+---------------+---------------+
|   148|   d005|   156|    1986-02-03|9999-01-01|    1960-03-11|        Feipei|     Nollmann|         M|   1986-02-03|       Development|     64439|   1995-04-25|    1970-04-25|          Leon|     DasSarma|         F|   1989-10-21|121640|   2003-01-30|Senior Engineer|     1993-02-04|
|   463|   d008|   507|    1986-02-06|9999-01-01|    1955-04-15|    Dharmaraja|     Sadowsky|         M|   1986-02-06|          Research|    107706|   1996-04-08|    1962-06-27|        Hilary|       Kambil|         F|   1993-01-31| 63130|   2003-02-02|   Senior Staff|     1986-02-06|
|   496|   d006|   543|    2001-09-02|9999-01-01|    1964-03-29|          Mari|        Rotem|         M|   1986-02-06|Quality Management|    149081|   2000-06-28|    1972-08-19|          Dung|        Pesch|         M|   1995-06-09| 50281|   2002-08-16|       Engineer|     2000-08-17|
|   833|   d005|   914|    1994-03-25|9999-01-01|    1961-09-14|          Huan|      Preusig|         M|   1986-02-09|       Development|     64439|   1995-04-25|    1970-04-25|          Leon|     DasSarma|         F|   1989-10-21| 52747|   2003-03-23|Senior Engineer|     1994-03-25|
+------+-------+------+--------------+----------+--------------+--------------+-------------+----------+-------------+------------------+----------+-------------+--------------+--------------+-------------+----------+-------------+------+-------------+---------------+---------------+
only showing top 4 rows

Derive additional columns such as <br>
- emp_age = current_date - emp_birth_date
- emp_tenure = current_date - emp_hire_date
- mgr_age = current_date - mgr_birth_date
- mgr_tenure = current_date - mgr_hire_date
- salary_since = current_date - sal_from_date
- role_since = current_date - title_from_date
- emp_dept_tenure = current_date - dept_from_date
- mgr_dept_tenure = current_date - mgr_from_date
<br>
<br>Create a temporary table/view to perform sql queries

In [94]:
active_emp_detailsDF.registerTempTable("active_emp_details_sqlTBL")

In [95]:
active_emp_detailsDF.dtypes

[('emp_no', 'int'),
 ('dept_no', 'string'),
 ('seq_no', 'int'),
 ('dept_from_date', 'string'),
 ('to_date', 'string'),
 ('emp_birth_date', 'string'),
 ('emp_first_name', 'string'),
 ('emp_last_name', 'string'),
 ('emp_gender', 'string'),
 ('emp_hire_date', 'string'),
 ('dept_name', 'string'),
 ('mgr_emp_no', 'int'),
 ('mgr_from_date', 'string'),
 ('mgr_birth_date', 'string'),
 ('mgr_first_name', 'string'),
 ('mgr_last_name', 'string'),
 ('mgr_gender', 'string'),
 ('mgr_hire_date', 'string'),
 ('salary', 'int'),
 ('sal_from_date', 'string'),
 ('title', 'string'),
 ('title_from_date', 'string')]

Change the order of the columns with the select and derive the columns as necessary

In [96]:
active_employees_data  = spark.sql("""
SELECT emp_no, emp_first_name, emp_last_name, emp_gender, emp_birth_date, emp_hire_date,
       round(datediff(current_date,to_date(emp_birth_date))/365) as emp_age,
       round(datediff(current_date,to_date(emp_hire_date))/365) as emp_tenure,
       salary, sal_from_date, 
       round(datediff(current_date,to_date(sal_from_date))/365) as salary_since,
       title, title_from_date,
       round(datediff(current_date,to_date(title_from_date))/365) as role_since,
       dept_no, dept_name, dept_from_date,
       round(datediff(current_date,to_date(dept_from_date))/365) as emp_dept_tenure,
       mgr_emp_no, mgr_first_name, mgr_last_name, mgr_gender, mgr_birth_date, mgr_hire_date, mgr_from_date,
       round(datediff(current_date,to_date(mgr_birth_date))/365) as mgr_age,
       round(datediff(current_date,to_date(mgr_hire_date))/365) as mgr_tenure,
       round(datediff(current_date,to_date(mgr_from_date))/365) as mgr_dept_tenure
FROM active_emp_details_sqlTBL""")

Verify the DataFrame

In [97]:
active_employees_data.show(4)

+------+--------------+-------------+----------+--------------+-------------+-------+----------+------+-------------+------------+---------------+---------------+----------+-------+------------------+--------------+---------------+----------+--------------+-------------+----------+--------------+-------------+-------------+-------+----------+---------------+
|emp_no|emp_first_name|emp_last_name|emp_gender|emp_birth_date|emp_hire_date|emp_age|emp_tenure|salary|sal_from_date|salary_since|          title|title_from_date|role_since|dept_no|         dept_name|dept_from_date|emp_dept_tenure|mgr_emp_no|mgr_first_name|mgr_last_name|mgr_gender|mgr_birth_date|mgr_hire_date|mgr_from_date|mgr_age|mgr_tenure|mgr_dept_tenure|
+------+--------------+-------------+----------+--------------+-------------+-------+----------+------+-------------+------------+---------------+---------------+----------+-------+------------------+--------------+---------------+----------+--------------+-------------+----------+--------------+-------------+-------------+-------+----------+---------------+
|   148|        Feipei|     Nollmann|         M|    1960-03-11|   1986-02-03|   59.0|      33.0|121640|   2003-01-30|        16.0|Senior Engineer|     1993-02-04|      26.0|   d005|       Development|    1986-02-03|           33.0|     64439|          Leon|     DasSarma|         F|    1970-04-25|   1989-10-21|   1995-04-25|   49.0|      29.0|           24.0|
|   463|    Dharmaraja|     Sadowsky|         M|    1955-04-15|   1986-02-06|   64.0|      33.0| 63130|   2003-02-02|        16.0|   Senior Staff|     1986-02-06|      33.0|   d008|          Research|    1986-02-06|           33.0|    107706|        Hilary|       Kambil|         F|    1962-06-27|   1993-01-31|   1996-04-08|   57.0|      26.0|           23.0|
|   496|          Mari|        Rotem|         M|    1964-03-29|   1986-02-06|   55.0|      33.0| 50281|   2002-08-16|        16.0|       Engineer|     2000-08-17|      18.0|   d006|Quality Management|    2001-09-02|           17.0|    149081|          Dung|        Pesch|         M|    1972-08-19|   1995-06-09|   2000-06-28|   46.0|      24.0|           19.0|
|   833|          Huan|      Preusig|         M|    1961-09-14|   1986-02-09|   57.0|      33.0| 52747|   2003-03-23|        16.0|Senior Engineer|     1994-03-25|      25.0|   d005|       Development|    1994-03-25|           25.0|     64439|          Leon|     DasSarma|         F|    1970-04-25|   1989-10-21|   1995-04-25|   49.0|      29.0|           24.0|
+------+--------------+-------------+----------+--------------+-------------+-------+----------+------+-------------+------------+---------------+---------------+----------+-------+------------------+--------------+---------------+----------+--------------+-------------+----------+--------------+-------------+-------------+-------+----------+---------------+
only showing top 4 rows

Write the DataFrame to the persistent storage - HDFS

In [98]:
active_employees_data.repartition(1).write.option("header", "false").csv("/user/rameshm/Batch49/employeesdb/results/active_employees_data")

In [99]:
active_employees_data.cache()

DataFrame[emp_no: int, emp_first_name: string, emp_last_name: string, emp_gender: string, emp_birth_date: string, emp_hire_date: string, emp_age: double, emp_tenure: double, salary: int, sal_from_date: string, salary_since: double, title: string, title_from_date: string, role_since: double, dept_no: string, dept_name: string, dept_from_date: string, emp_dept_tenure: double, mgr_emp_no: int, mgr_first_name: string, mgr_last_name: string, mgr_gender: string, mgr_birth_date: string, mgr_hire_date: string, mgr_from_date: string, mgr_age: double, mgr_tenure: double, mgr_dept_tenure: double]

In [100]:
active_employees_data.count()

250124

#### Aggregated Data
<br>Create the Aggregations
- Based on Department
- Based on Department and Gender
<br>Aggregate based on department

In [101]:
from pyspark.sql import functions as F

dept_aggrDF = active_employees_data.groupBy('dept_no').agg(
    F.min('salary').alias('Min_Salary'),
    F.max('salary').alias('Max_Salary'),
    F.mean('salary').alias('Mean_Salary'),
    F.count('salary').alias('Total_Employees'),
    F.stddev('salary').alias('StdDev_Salary'),
    F.sum('salary').alias('Total_salary'),
    F.min('emp_age').alias('Min_Age'),
    F.max('emp_age').alias('Max_Age'),
    F.mean('emp_age').alias('Mean_Age'),
    F.min('emp_tenure').alias('Min_Tenure'),
    F.max('emp_tenure').alias('Max_Tenure'),
    F.mean('emp_tenure').alias('Mean_Tenure'),
    F.mean('salary_since').alias('Mean_Salary_Since'),
    F.mean('role_since').alias('Mean_Role_Since')
)

In [102]:
dept_aggrDF.cache()

DataFrame[dept_no: string, Min_Salary: int, Max_Salary: int, Mean_Salary: double, Total_Employees: bigint, StdDev_Salary: double, Total_salary: bigint, Min_Age: double, Max_Age: double, Mean_Age: double, Min_Tenure: double, Max_Tenure: double, Mean_Tenure: double, Mean_Salary_Since: double, Mean_Role_Since: double]

In [103]:
dept_aggrDF.show()

+-------+----------+----------+------------------+---------------+------------------+------------+-------+-------+------------------+----------+----------+------------------+------------------+------------------+
|dept_no|Min_Salary|Max_Salary|       Mean_Salary|Total_Employees|     StdDev_Salary|Total_salary|Min_Age|Max_Age|          Mean_Age|Min_Tenure|Max_Tenure|       Mean_Tenure| Mean_Salary_Since|   Mean_Role_Since|
+-------+----------+----------+------------------+---------------+------------------+------------+-------+-------+------------------+----------+----------+------------------+------------------+------------------+
|   d005|     12582|    142434|61388.935342615165|          62344|16393.484361748524|  3827231785|   24.0|   67.0|47.371711792634414|       2.0|      33.0|22.235692287950727|10.399797895547286|16.192416271012448|
|   d009|     12505|    142950| 61567.09564047363|          18580|19054.432158113068|  1143916637|   24.0|   67.0| 46.94913885898816|       2.0|      33.0| 21.50086114101184|10.141334768568353|15.531431646932186|
|   d003|     12669|    140953|58621.627125972904|          13876|17636.231843258673|   813433698|   24.0|   66.0|  46.7474776592678|       2.0|      33.0|21.168204093398675|10.013260305563563|15.258431824733352|
|   d001|     12501|    144128| 73716.20280959312|          15803|20121.259512783337|  1164937153|   24.0|   67.0| 46.79965829272923|       2.0|      33.0|21.343099411504145| 10.07580839081187|15.379548187053091|
|   d007|     12524|    157220|  82163.1371330952|          38634|19680.750681990237|  3174290640|   24.0|   67.0| 47.26624217010923|       2.0|      33.0|22.051793756794535|10.329580162551121| 15.87573122120412|
|   d004|     12568|    137497| 61653.83507737656|          54280| 16490.60266483779|  3346570168|   24.0|   67.0|  47.3828297715549|       2.0|      33.0|22.199944731024317|10.389812085482683|  16.2165622697126|
|   d010|     12567|    137498| 76304.74850299401|           1002| 36296.40611115705|    76457358|   24.0|   49.0| 36.27744510978044|       2.0|       6.0| 4.005988023952096| 4.005988023952096| 4.005988023952096|
|   d002|     12701|    141395| 72330.34274492368|          13494|20223.466108891476|   976025645|   24.0|   67.0| 46.70194160367571|       2.0|      33.0|21.078257003112494| 9.992515191937157|15.220246035274936|
|   d006|     12596|    137308|60143.686778493524|          15679|17906.764461726154|   942992865|   24.0|   67.0| 46.74641239874992|       2.0|      33.0|21.145289878181007|10.012437017666944|15.510109063078003|
|   d008|     12817|    137344|  62241.2610150925|          16432|18057.399737068674|  1022748401|   24.0|   67.0| 46.87895569620253|       2.0|      33.0|21.396969328140216|10.106864654333009|15.501582278481013|
+-------+----------+----------+------------------+---------------+------------------+------------+-------+-------+------------------+----------+----------+------------------+------------------+------------------+

Aggregation based on Department and Gender

In [104]:
dept_gender_aggrDF = active_employees_data.groupBy('dept_no', 'emp_gender').agg(
    F.min('salary').alias('Min_Salary'),
    F.max('salary').alias('Max_Salary'),
    F.mean('salary').alias('Mean_Salary'),
    F.count('salary').alias('Total_Employees'),
    F.stddev('salary').alias('StdDev_Salary'),
    F.sum('salary').alias('Total_salary'),
    F.min('emp_age').alias('Min_Age'),
    F.max('emp_age').alias('Max_Age'),
    F.mean('emp_age').alias('Mean_Age'),
    F.min('emp_tenure').alias('Min_Tenure'),
    F.max('emp_tenure').alias('Max_Tenure'),
    F.mean('emp_tenure').alias('Mean_Tenure'),
    F.mean('salary_since').alias('Mean_Salary_Since'),
    F.mean('role_since').alias('Mean_Role_Since')
)

In [105]:
dept_gender_aggrDF.show()

+-------+----------+----------+----------+------------------+---------------+------------------+------------+-------+-------+------------------+----------+----------+------------------+------------------+------------------+
|dept_no|emp_gender|Min_Salary|Max_Salary|       Mean_Salary|Total_Employees|     StdDev_Salary|Total_salary|Min_Age|Max_Age|          Mean_Age|Min_Tenure|Max_Tenure|       Mean_Tenure| Mean_Salary_Since|   Mean_Role_Since|
+-------+----------+----------+----------+------------------+---------------+------------------+------------+-------+-------+------------------+----------+----------+------------------+------------------+------------------+
|   d006|         M|     12596|    137308| 59807.84364820847|           9210|17371.741914549362|   550830240|   24.0|   67.0|46.915526601520085|       2.0|      33.0|21.419978284473398|10.110749185667752|15.670901194353963|
|   d006|         F|     12776|    137294| 60621.83104034627|           6469|18632.929352115545|   392162625|   24.0|   67.0| 46.50564229401762|       2.0|      33.0|  20.7542123975885| 9.872468696861956|15.281187200494667|
|   d003|         M|     13320|    140953| 58390.39888322409|           8238|17382.666710193324|   481020106|   24.0|   66.0| 46.88407380432144|       2.0|      33.0| 21.37533381888808| 10.08363680504977| 15.40616654527798|
|   d001|         F|     13110|    137842| 73401.52398232881|           6338| 20192.29637278024|   465218859|   24.0|   66.0| 46.53297570211423|       2.0|      33.0|21.007257810034712| 9.940990848848218|  15.1071315872515|
|   d005|         F|     12582|    142434|61347.262718299164|          25023|16452.692992389355|  1535092555|   24.0|   67.0| 47.31339167965472|       2.0|      33.0|22.134316428885427|10.361187707309275|16.153059185549296|
|   d009|         M|     12505|    142950|61337.880253050156|          11065|   18889.760887489|   678703645|   24.0|   67.0| 46.99367374604609|       2.0|      33.0|21.652146407591506|10.193131495707185|15.607139629462269|
|   d004|         F|     13612|    137497| 61600.81429550126|          21895| 16518.61693414313|  1348749829|   24.0|   67.0| 47.35711349623202|       2.0|      33.0|22.131399862982416|10.365882621603106|16.174743092030145|
|   d009|         F|     12998|    140866| 61904.58975382568|           7515|  19290.6392600534|   465212992|   24.0|   67.0| 46.88356620093147|       2.0|      33.0|21.278110445775116|10.065069860279442|15.419960079840319|
|   d010|         F|     12567|    137498| 76325.34419551934|            491|36076.747302666736|    37475744|   24.0|   49.0| 36.73727087576375|       2.0|       6.0|3.9633401221995928|3.9633401221995928|3.9633401221995928|
|   d001|         M|     12501|    144128| 73926.91959852086|           9465|20071.861027664712|   699718294|   24.0|   67.0| 46.97823560486001|       2.0|      33.0| 21.56798732171157|10.166085578446909|15.561965134706815|
|   d003|         F|     12669|    137321|58959.487761617595|           5638| 17996.51950328604|   332413592|   24.0|   66.0| 46.54788932245477|       2.0|      33.0|20.865555161404753| 9.910429230223484|15.042568286626464|
|   d002|         M|     12701|    141395| 72112.88582924682|           7953| 20151.16751739652|   573513781|   24.0|   67.0| 46.77907707783226|       2.0|      33.0| 21.27888846975984|10.060731799321012|15.301395699735949|
|   d007|         M|     12524|    157220| 82220.26261928408|          23159| 19551.94973561398|  1904139062|   24.0|   67.0|47.326913942743644|       2.0|      33.0|22.128848395872016|10.357398851418456|15.918347078889417|
|   d007|         F|     12632|    151687| 82077.64639741518|          15475|19872.274431122827|  1270151578|   24.0|   66.0| 47.17544426494346|       2.0|      33.0|21.936478190630048| 10.28794830371567|15.811954765751212|
|   d008|         F|     12904|    137284|  62530.6636677163|           6669|18237.142865819453|   417016996|   24.0|   66.0| 46.79832058779427|       2.0|      33.0| 21.24456440245914|10.067626330784226|15.378167641325536|
|   d002|         F|     13007|    137300| 72642.45876195632|           5541| 20324.54184952541|   402511864|   24.0|   66.0|46.591229020032486|       2.0|      33.0|20.790290561270528| 9.894603862118752|15.103771882331708|
|   d008|         M|     12817|    137344|62043.573184471985|           9763| 17931.83570658838|   605731405|   24.0|   67.0|46.934036669056646|       2.0|      33.0|21.501075489091466|10.133667929939568|15.585885486018642|
|   d004|         M|     12568|    137378| 61689.68161185734|          32385| 16471.79413468687|  1997820339|   24.0|   67.0| 47.40021614945191|       2.0|      33.0|22.246286861201174| 10.40599042766713|16.244835572024087|
|   d005|         M|     12876|    137119|61416.876021542834|          37321|16353.827310278446|  2292139230|   24.0|   67.0|47.410814286862625|       2.0|      33.0|22.303662817180676|10.425685271027035|16.218804426462313|
|   d010|         M|     12852|    137449| 76284.95890410959|            511|36541.558030365144|    38981614|   24.0|   49.0| 35.83561643835616|       2.0|       6.0| 4.046966731898239| 4.046966731898239| 4.046966731898239|
+-------+----------+----------+----------+------------------+---------------+------------------+------------+-------+-------+------------------+----------+----------+------------------+------------------+------------------+

Write above DataFrames to storage

In [106]:
dept_aggrDF.repartition(1).write.option("header", "false").csv("/user/rameshm/Batch49/employeesdb/results/aggr_dept/")
dept_gender_aggrDF.repartition(1).write.option("header", "false").csv("/user/rameshm/Batch49/employeesdb/results/aggr_dept_gender/")

In [108]:
active_employees_data.printSchema()

root
 |-- emp_no: integer (nullable = true)
 |-- emp_first_name: string (nullable = true)
 |-- emp_last_name: string (nullable = true)
 |-- emp_gender: string (nullable = true)
 |-- emp_birth_date: string (nullable = true)
 |-- emp_hire_date: string (nullable = true)
 |-- emp_age: double (nullable = true)
 |-- emp_tenure: double (nullable = true)
 |-- salary: integer (nullable = true)
 |-- sal_from_date: string (nullable = true)
 |-- salary_since: double (nullable = true)
 |-- title: string (nullable = true)
 |-- title_from_date: string (nullable = true)
 |-- role_since: double (nullable = true)
 |-- dept_no: string (nullable = true)
 |-- dept_name: string (nullable = true)
 |-- dept_from_date: string (nullable = true)
 |-- emp_dept_tenure: double (nullable = true)
 |-- mgr_emp_no: integer (nullable = true)
 |-- mgr_first_name: string (nullable = true)
 |-- mgr_last_name: string (nullable = true)
 |-- mgr_gender: string (nullable = true)
 |-- mgr_birth_date: string (nullable = true)
 |-- mgr_hire_date: string (nullable = true)
 |-- mgr_from_date: string (nullable = true)
 |-- mgr_age: double (nullable = true)
 |-- mgr_tenure: double (nullable = true)
 |-- mgr_dept_tenure: double (nullable = true)

DB Store

In [109]:
active_employees_data.write.mode("overwrite").saveAsTable("active_employees_data")

In [110]:
dept_aggrDF.write.mode("overwrite").saveAsTable("dept_aggr")

In [111]:
dept_gender_aggrDF.write.mode("overwrite").saveAsTable("dept_gender_aggr")

In [86]:
# active_employees_data.write.format('jdbc').options(
#       url='jdbc:mysql://172.16.0.241:3306/insofe_results_10064',
#       driver='com.mysql.jdbc.Driver',
#       dbtable='active_emp_details',
#       user='insofeadmin',
#       password='insofe_password').mode('append').save()

In [113]:
spark.sql("SHOW TABLES").show(truncate=False)

+------------------+-------------------------+-----------+
|database          |tableName                |isTemporary|
+------------------+-------------------------+-----------+
|insofe_empdb_10064|active_employees_data    |false      |
|insofe_empdb_10064|departments              |false      |
|insofe_empdb_10064|dept_aggr                |false      |
|insofe_empdb_10064|dept_emp                 |false      |
|insofe_empdb_10064|dept_gender_aggr         |false      |
|insofe_empdb_10064|dept_manager             |false      |
|insofe_empdb_10064|employees                |false      |
|insofe_empdb_10064|salaries                 |false      |
|insofe_empdb_10064|titles                   |false      |
|                  |active_emp_details_sqltbl|true       |
+------------------+-------------------------+-----------+

In [87]:
spark.sql("DESCRIBE dept_aggr").show(truncate=False)

+-----------------+---------+-------+
|col_name         |data_type|comment|
+-----------------+---------+-------+
|dept_no          |string   |null   |
|Min_Salary       |int      |null   |
|Max_Salary       |int      |null   |
|Mean_Salary      |double   |null   |
|Total_Employees  |bigint   |null   |
|StdDev_Salary    |double   |null   |
|Total_salary     |bigint   |null   |
|Min_Age          |double   |null   |
|Max_Age          |double   |null   |
|Mean_Age         |double   |null   |
|Min_Tenure       |double   |null   |
|Max_Tenure       |double   |null   |
|Mean_Tenure      |double   |null   |
|Mean_Salary_Since|double   |null   |
|Mean_Role_Since  |double   |null   |
+-----------------+---------+-------+

In [89]:
spark.sql("SHOW CREATE TABLE dept_aggr").show(truncate=False)

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|createtab_stmt                                                                                                                                                                                                                                                                                                                                                                                                     |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|CREATE TABLE `dept_aggr` (`dept_no` STRING, `Min_Salary` INT, `Max_Salary` INT, `Mean_Salary` DOUBLE, `Total_Employees` BIGINT, `StdDev_Salary` DOUBLE, `Total_salary` BIGINT, `Min_Age` DOUBLE, `Max_Age` DOUBLE, `Mean_Age` DOUBLE, `Min_Tenure` DOUBLE, `Max_Tenure` DOUBLE, `Mean_Tenure` DOUBLE, `Mean_Salary_Since` DOUBLE, `Mean_Role_Since` DOUBLE)
USING parquet
OPTIONS (
  `serialization.format` '1'
)
|
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [92]:
!hdfs dfs -ls /apps/hive/warehouse/

Found 785 items
drwxrwxrwx   - 1355B30     hdfs          0 2017-11-11 12:08 /apps/hive/warehouse/.hive-staging_hive_2017-11-11_12-08-32_725_406234144602136858-1
drwxrwxrwx   - 1305B40     hdfs          0 2018-07-15 12:21 /apps/hive/warehouse/1305b40.db
drwxrwxrwx   - 1803B40     hdfs          0 2018-07-15 12:56 /apps/hive/warehouse/1803b40_hive_data.db
drwxrwxrwx   - 1806B40     hdfs          0 2018-07-15 12:47 /apps/hive/warehouse/1806_testing.db
drwxrwxrwx   - 1886B39     hdfs          0 2018-07-07 14:54 /apps/hive/warehouse/1886_batch39.db
drwxrwxrwx   - 1895B40     hdfs          0 2018-07-29 15:10 /apps/hive/warehouse/1895_cute.db
drwxrwxrwx   - 1896B40     hdfs          0 2018-07-15 12:04 /apps/hive/warehouse/1896b40.db
drwxrwxrwx   - 1915B40     hdfs          0 2018-07-15 12:48 /apps/hive/warehouse/1915_testing.db
drwxrwxrwx   - 1915B40     hdfs          0 2018-07-29 15:03 /apps/hive/warehouse/1915b40_cute.db
drwxrwxrwx   - 1923B40     hdfs          0 2018-07-15 12:26 /apps/hive/warehouse/1923b40.db
drwxrwxrwx   - 1925B40     hdfs          0 2018-07-29 17:25 /apps/hive/warehouse/1925b40_db.db
drwxrwxrwx   - 1925B40     hdfs          0 2018-07-15 12:33 /apps/hive/warehouse/1925b40_test.db
drwxrwxrwx   - 1932B40     hdfs          0 2018-07-08 15:14 /apps/hive/warehouse/1932b40db.db
drwxrwxrwx   - 1937B40     hdfs          0 2018-07-29 15:52 /apps/hive/warehouse/1937cutepartb.db
drwxrwxrwx   - 1938B40     hdfs          0 2018-07-29 18:15 /apps/hive/warehouse/1938_cute.db
drwxrwxrwx   - 1939B40     hdfs          0 2018-07-15 11:57 /apps/hive/warehouse/1939_testing.db
drwxrwxrwx   - 1945B40     hdfs          0 2018-07-15 14:14 /apps/hive/warehouse/1945b40.db
drwxrwxrwx   - 1964B40     hdfs          0 2018-07-15 12:36 /apps/hive/warehouse/1964b40_testing.db
drwxrwxrwx   - 2001B42     hdfs          0 2018-08-05 15:17 /apps/hive/warehouse/2001b42.db
drwxrwxrwx   - 2018B42     hdfs          0 2018-08-05 15:17 /apps/hive/warehouse/2018b42.db
drwxrwxrwx   - 2029B42     hdfs          0 2018-08-05 15:16 /apps/hive/warehouse/2029_b42.db
drwxrwxrwx   - 2094B43     hdfs          0 2018-09-06 21:10 /apps/hive/warehouse/2094b43_ignitor_db.db
drwxrwxrwx   - 2105B44     hdfs          0 2018-11-04 11:31 /apps/hive/warehouse/2105b44_testing.db
drwxrwxrwx   - 2106B44     hdfs          0 2018-11-04 11:18 /apps/hive/warehouse/2106b44_testing.db
drwxrwxrwx   - 2107B44     hdfs          0 2018-11-04 11:48 /apps/hive/warehouse/2107_posts
drwxrwxrwx   - 2107B44     hdfs          0 2018-11-04 11:31 /apps/hive/warehouse/2107_testing.db
drwxrwxrwx   - 2111B44     hdfs          0 2018-11-04 11:28 /apps/hive/warehouse/2111b44_testing.db
drwxrwxrwx   - 2114B44     hdfs          0 2018-11-04 11:31 /apps/hive/warehouse/2114_testing.db
drwxrwxrwx   - 2115B44     hdfs          0 2018-11-04 11:53 /apps/hive/warehouse/2115b44_testing.db
drwxrwxrwx   - 2117B44     hdfs          0 2018-11-04 10:26 /apps/hive/warehouse/2117b44_testing.db
drwxrwxrwx   - 2120B44     hdfs          0 2018-10-07 09:47 /apps/hive/warehouse/2120b44
drwxrwxrwx   - 2120B44     hdfs          0 2018-11-04 11:39 /apps/hive/warehouse/2120b44_testing.db
drwxrwxrwx   - 2121B44     hdfs          0 2018-11-04 10:36 /apps/hive/warehouse/2121b44_posts
drwxrwxrwx   - 2121B44     hdfs          0 2018-11-04 11:33 /apps/hive/warehouse/2121b44_testing.db
drwxrwxrwx   - 2123B44     hdfs          0 2018-10-07 09:48 /apps/hive/warehouse/2123b44
drwxrwxrwx   - 2123B44     hdfs          0 2018-11-04 11:18 /apps/hive/warehouse/2123b44_posts
drwxrwxrwx   - 2123B44     hdfs          0 2018-11-04 12:05 /apps/hive/warehouse/2123b44_testing.db
drwxrwxrwx   - 2124B44     hdfs          0 2018-11-04 12:10 /apps/hive/warehouse/2124_testing.db
drwxrwxrwx   - 2125B44     hdfs          0 2018-11-04 11:32 /apps/hive/warehouse/2125b44_testing.db
drwxrwxrwx   - 2126B44     hdfs          0 2018-11-04 10:28 /apps/hive/warehouse/2126b44_testing.db
drwxrwxrwx   - 2128B44     hdfs          0 2018-10-07 09:47 /apps/hive/warehouse/2128b44
drwxrwxrwx   - 2128B44     hdfs          0 2018-11-04 12:08 /apps/hive/warehouse/2128b44_posts
drwxrwxrwx   - 2128B44     hdfs          0 2018-11-04 11:33 /apps/hive/warehouse/2128b44_testing.db
drwxrwxrwx   - 2131B44     hdfs          0 2018-11-04 18:07 /apps/hive/warehouse/2131b44_employees_db.db
drwxrwxrwx   - 2131B44     hdfs          0 2018-11-04 11:10 /apps/hive/warehouse/2131b44_testing.db
drwxrwxrwx   - 2134B44     hdfs          0 2018-10-07 09:47 /apps/hive/warehouse/2134b44
drwxrwxrwx   - 2134B44     hdfs          0 2018-11-09 22:33 /apps/hive/warehouse/2134b44_testing.db
drwxrwxrwx   - 2134B44     hdfs          0 2018-11-05 16:30 /apps/hive/warehouse/2134b44_testing_practice.db
drwxrwxrwx   - 2135B44     hdfs          0 2018-11-04 11:40 /apps/hive/warehouse/2135b44_testing.db
drwxrwxrwx   - 2136B44     hdfs          0 2018-11-04 11:56 /apps/hive/warehouse/2136_posts
drwxrwxrwx   - 2136B44     hdfs          0 2018-11-04 11:33 /apps/hive/warehouse/2136_testing.db
drwxrwxrwx   - 2136B44     hdfs          0 2018-11-04 12:08 /apps/hive/warehouse/2136b_posts
drwxrwxrwx   - 2137B44     hdfs          0 2018-11-04 12:06 /apps/hive/warehouse/2137b44_posts
drwxrwxrwx   - 2137B44     hdfs          0 2018-11-04 11:26 /apps/hive/warehouse/2137b44_testing.db
drwxrwxrwx   - 2138B44     hdfs          0 2018-11-04 11:49 /apps/hive/warehouse/2138b44_testing.db
drwxrwxrwx   - 2140B44     hdfs          0 2018-10-07 09:47 /apps/hive/warehouse/2140b44
drwxrwxrwx   - 2140B44     hdfs          0 2018-11-04 10:35 /apps/hive/warehouse/2140b44_posts
drwxrwxrwx   - 2140B44     hdfs          0 2018-11-04 11:18 /apps/hive/warehouse/2140b44_testing.db
drwxrwxrwx   - 2255B47     hdfs          0 2019-01-13 16:23 /apps/hive/warehouse/2255_testing.db
drwxrwxrwx   - 2257B47     hdfs          0 2019-01-13 16:23 /apps/hive/warehouse/2257b47.db
drwxrwxrwx   - 2258B47     hdfs          0 2019-01-13 16:23 /apps/hive/warehouse/2258_testing.db
drwxrwxrwx   - 2259B47     hdfs          0 2019-01-13 16:24 /apps/hive/warehouse/2259_testing.db
drwxrwxrwx   - 2260B47     hdfs          0 2019-01-13 16:24 /apps/hive/warehouse/2260b47_testing.db
drwxrwxrwx   - 2261B47     hdfs          0 2019-01-13 16:24 /apps/hive/warehouse/2261b47_e_posts
drwxrwxrwx   - 2261B47     hdfs          0 2019-01-13 16:25 /apps/hive/warehouse/2261b47_testing.db
drwxrwxrwx   - 2262B47     hdfs          0 2019-01-13 16:26 /apps/hive/warehouse/2262b47_testing.db
drwxrwxrwx   - 2267B47     hdfs          0 2019-01-13 16:22 /apps/hive/warehouse/2267b47_testing.db
drwxrwxrwx   - 2268B47     hdfs          0 2019-01-13 16:23 /apps/hive/warehouse/2268b47_testing.db
drwxrwxrwx   - 2269B47     hdfs          0 2019-01-13 16:21 /apps/hive/warehouse/2269b47_testing.db
drwxrwxrwx   - 2271B47     hdfs          0 2019-01-13 16:22 /apps/hive/warehouse/2271b47_db.db
drwxrwxrwx   - 2277B47     hdfs          0 2019-01-13 16:44 /apps/hive/warehouse/2277b47_testing.db
drwxrwxrwx   - 2280B47     hdfs          0 2019-01-13 16:27 /apps/hive/warehouse/2280b47_testing.db
drwxrwxrwx   - 2281B47     hdfs          0 2019-01-13 16:23 /apps/hive/warehouse/2281_testing.db
drwxrwxrwx   - 2284B47     hdfs          0 2019-01-13 16:22 /apps/hive/warehouse/2284b47_testing.db
drwxrwxrwx   - 2288B47     hdfs          0 2019-01-13 15:36 /apps/hive/warehouse/2288_testing.db
drwxrwxrwx   - 2290B47     hdfs          0 2019-01-13 16:22 /apps/hive/warehouse/2290b47_testing.db
drwxrwxrwx   - 2299B47     hdfs          0 2019-01-13 16:18 /apps/hive/warehouse/2299b47_testing.db
drwxrwxrwx   - 2305B47     hdfs          0 2019-01-13 16:48 /apps/hive/warehouse/2305_e_posts
drwxrwxrwx   - 2305B47     hdfs          0 2019-01-13 16:49 /apps/hive/warehouse/2305_testing.db
drwxr-xr-x   - 2343B48     hdfs          0 2019-01-18 11:27 /apps/hive/warehouse/2343_tcs_stocks
drwxrwxrwx   - 2124B44     hdfs          0 2018-10-07 09:48 /apps/hive/warehouse/44b2124
drwxrwxrwx   - 2350B48     hdfs          0 2018-12-22 12:57 /apps/hive/warehouse/a
drwxrwxrwx   - 1845B39     hdfs          0 2018-07-11 19:10 /apps/hive/warehouse/abc.db
drwxrwxrwx   - 2139B44     hdfs          0 2018-10-07 09:50 /apps/hive/warehouse/abhi
drwxrwxrwx   - 2139B44     hdfs          0 2018-11-04 12:06 /apps/hive/warehouse/abhi_hive_db.db
drwxrwxrwx   - 1887B39     hdfs          0 2018-07-07 16:47 /apps/hive/warehouse/advance_neelima.db
drwxrwxrwx   - 1860B39     hdfs          0 2018-07-07 16:40 /apps/hive/warehouse/advance_prajwal.db
drwxrwxrwx   - mahidharv   hdfs          0 2018-07-07 14:51 /apps/hive/warehouse/advanced.db
drwxrwxrwx   - 1867B39     hdfs          0 2018-07-20 12:15 /apps/hive/warehouse/advanced1.db
drwxrwxrwx   - 1837B39     hdfs          0 2018-07-08 11:40 /apps/hive/warehouse/advanced1837.db
drwxrwxrwx   - 1867B39     hdfs          0 2018-07-20 12:35 /apps/hive/warehouse/advanced2.db
drwxrwxrwx   - 1862B39     hdfs          0 2018-07-07 16:41 /apps/hive/warehouse/advanced_1862_raj.db
drwxrwxrwx   - 1864B39     hdfs          0 2018-07-07 16:49 /apps/hive/warehouse/advanced_1864.db
drwxrwxrwx   - 1868B39     hdfs          0 2018-07-07 15:08 /apps/hive/warehouse/advanced_1868_rev.db
drwxrwxrwx   - 1868B39     hdfs          0 2018-07-07 16:42 /apps/hive/warehouse/advanced_1868_rev1.db
drwxrwxrwx   - 1834B39     hdfs          0 2018-07-07 15:19 /apps/hive/warehouse/advanced_ajar.db
drwxrwxrwx   - 1661B39     hdfs          0 2018-07-07 17:01 /apps/hive/warehouse/advanced_arjun.db
drwxrwxrwx   - 1838B39     hdfs          0 2018-07-07 14:53 /apps/hive/warehouse/advanced_arun.db
drwxrwxrwx   - 1838B39     hdfs          0 2018-07-07 15:10 /apps/hive/warehouse/advanced_arunbalu.db
drwxrwxrwx   - mahidharv   hdfs          0 2018-07-07 16:38 /apps/hive/warehouse/advanced_batch39.db
drwxrwxrwx   - 1882B39     hdfs          0 2018-07-07 15:55 /apps/hive/warehouse/advanced_batman.db
drwxrwxrwx   - 1840B39     hdfs          0 2018-07-07 14:53 /apps/hive/warehouse/advanced_bh.db
drwxrwxrwx   - 1839B39     hdfs          0 2018-07-07 16:38 /apps/hive/warehouse/advanced_bhargav.db
drwxrwxrwx   - 1843B39     hdfs          0 2018-07-07 15:02 /apps/hive/warehouse/advanced_eshwag.db
drwxrwxrwx   - 1844B39     hdfs          0 2018-07-07 16:07 /apps/hive/warehouse/advanced_gayathriv.db
drwxrwxrwx   - 1893B39     hdfs          0 2018-07-07 14:56 /apps/hive/warehouse/advanced_harika.db
drwxrwxrwx   - 1847B39     hdfs          0 2018-07-07 15:05 /apps/hive/warehouse/advanced_jyothi.db
drwxrwxrwx   - 1848B39     hdfs          0 2018-07-07 16:38 /apps/hive/warehouse/advanced_karunakaran.db
drwxrwxrwx   - 1841B39     hdfs          0 2018-07-07 15:09 /apps/hive/warehouse/advanced_mani39.db
drwxrwxrwx   - 1855B39     hdfs          0 2018-07-07 16:39 /apps/hive/warehouse/advanced_midhun.db
drwxrwxrwx   - 1859B39     hdfs          0 2018-07-07 15:18 /apps/hive/warehouse/advanced_pavan.db
drwxrwxrwx   - 1859B39     hdfs          0 2018-07-07 16:44 /apps/hive/warehouse/advanced_pavantej.db
drwxrwxrwx   - 1865B39     hdfs          0 2018-07-07 16:48 /apps/hive/warehouse/advanced_rashmi.db
drwxrwxrwx   - 1870B39     hdfs          0 2018-07-07 15:03 /apps/hive/warehouse/advanced_samarth.db
drwxrwxrwx   - 1867B39     hdfs          0 2018-07-07 15:09 /apps/hive/warehouse/advanced_shashank.db
drwxrwxrwx   - 1867B39     hdfs          0 2018-07-07 15:31 /apps/hive/warehouse/advanced_shashank1.db

drwxrwxrwx   - 1867B39     hdfs          0 2018-07-07 15:44 /apps/hive/warehouse/advanced_shashank2.db
drwxrwxrwx   - 1878B39     hdfs          0 2018-07-07 17:04 /apps/hive/warehouse/advanced_shijith.db
drwxrwxrwx   - 1882B39     hdfs          0 2018-07-07 15:44 /apps/hive/warehouse/advanced_sumeet.db
drwxrwxrwx   - 1887B39     hdfs          0 2018-07-07 15:02 /apps/hive/warehouse/advanced_uma.db
drwxrwxrwx   - 1887B39     hdfs          0 2018-07-07 16:47 /apps/hive/warehouse/advanced_uma1.db
drwxrwxrwx   - 1890B39     hdfs          0 2018-07-07 16:43 /apps/hive/warehouse/advanced_vikas.db
drwxrwxrwx   - 1724B39     hdfs          0 2018-07-07 16:44 /apps/hive/warehouse/advanced_vikass.db
drwxrwxrwx   - 1879B39     hdfs          0 2018-07-07 16:22 /apps/hive/warehouse/advancedsri.db
drwxrwxrwx   - 1834B39     hdfs          0 2018-07-07 16:05 /apps/hive/warehouse/ajar.db
drwxrwxrwx   - 1836B39     hdfs          0 2018-07-07 17:00 /apps/hive/warehouse/amy.db
drwxrwxrwx   - 1900B40     hdfs          0 2018-07-15 12:13 /apps/hive/warehouse/anuradha.db
drwxrwxrwx   - 1900B40     hdfs          0 2018-07-29 15:35 /apps/hive/warehouse/anuradhap.db
drwxrwxrwx   - 2126B44     hdfs          0 2018-10-07 09:48 /apps/hive/warehouse/ap1
drwxrwxrwx   - rameshm     hdfs          0 2018-07-05 14:33 /apps/hive/warehouse/avg_tcs
drwxrwxrwx   - rameshm     hdfs          0 2018-07-05 15:44 /apps/hive/warehouse/avg_tcs_new
drwxrwxrwx   - 2113B44     hdfs          0 2018-10-07 09:55 /apps/hive/warehouse/b44
drwxr-xr-x   - rameshm     hdfs          0 2018-10-23 16:35 /apps/hive/warehouse/bank_marketing
drwxrwxrwx   - 1866B39     hdfs          0 2018-07-07 17:03 /apps/hive/warehouse/batch39_1866.db
drwxrwxrwx   - 2257B47     hdfs          0 2019-01-13 15:58 /apps/hive/warehouse/batch47_copy
drwxrwxrwx   - 2305B47     hdfs          0 2019-01-13 16:48 /apps/hive/warehouse/batch47_e_posts
drwxrwxrwx   - 2305B47     hdfs          0 2019-01-13 15:41 /apps/hive/warehouse/batch47_posts
drwxrwxrwx   - mahidharv   hdfs          0 2019-01-13 16:02 /apps/hive/warehouse/batch47_testing.db
drwxrwxrwx   - 2257B47     hdfs          0 2019-01-13 16:40 /apps/hive/warehouse/batch47e
drwxrwxrwx   - 2257B47     hdfs          0 2019-01-13 16:08 /apps/hive/warehouse/batch47like
drwxrwxrwx   - 2113B44     hdfs          0 2018-10-07 09:48 /apps/hive/warehouse/batch_44
drwxrwxrwx   - rameshm     hdfs          0 2018-09-28 11:27 /apps/hive/warehouse/books_hive_ext
drwxrwxrwx   - mahidharv   hdfs          0 2018-07-20 14:37 /apps/hive/warehouse/boxes
drwxrwxrwx   - 2082B43     hdfs          0 2018-09-07 14:07 /apps/hive/warehouse/bsk.db
drwxrwxrwx   - 1847B39     hdfs          0 2018-07-07 16:52 /apps/hive/warehouse/buck_locations
drwxrwxrwx   - 1847B39     hdfs          0 2018-07-07 16:43 /apps/hive/warehouse/buck_users
drwxrwxrwx   - 1840B39     hdfs          0 2018-07-07 16:43 /apps/hive/warehouse/buck_users_bh
drwxrwxrwx   - 1887B39     hdfs          0 2018-07-07 16:41 /apps/hive/warehouse/buck_users_uma
drwxrwxrwx   - 1866B39     hdfs          0 2018-07-07 16:51 /apps/hive/warehouse/bucket_users
drwxrwxrwx   - 1905B40     hdfs          0 2018-07-15 12:42 /apps/hive/warehouse/chals.db
drwxrwxrwx   - 2011B42     hdfs          0 2018-08-19 09:57 /apps/hive/warehouse/cuisine
drwxrwxrwx   - 2233B46     hdfs          0 2018-11-22 19:35 /apps/hive/warehouse/customer.db
drwxrwxrwx   - 2233B46     hdfs          0 2018-11-22 19:47 /apps/hive/warehouse/customer1.db
drwxrwxrwx   - 2233B46     hdfs          0 2018-11-23 08:48 /apps/hive/warehouse/customer2.db
drwxrwxrwx   - 2233B46     hdfs          0 2018-11-23 11:52 /apps/hive/warehouse/customer3.db
drwxrwxrwx   - 2233B46     hdfs          0 2018-11-23 15:05 /apps/hive/warehouse/customer4.db
drwxrwxrwx   - 2233B46     hdfs          0 2018-11-23 15:31 /apps/hive/warehouse/customer5.db
drwxrwxrwx   - 2233B46     hdfs          0 2018-11-23 15:51 /apps/hive/warehouse/customer6.db
drwxrwxrwx   - 2179B45     hdfs          0 2018-11-15 15:46 /apps/hive/warehouse/customer_data_2179.db
drwxrwxrwx   - 2215B46     hdfs          0 2018-11-23 17:25 /apps/hive/warehouse/customerdata_2215.db
drwxrwxrwx   - 2233B46     hdfs          0 2018-11-21 21:24 /apps/hive/warehouse/customerdb.db
drwxrwxrwx   - 2227B46     hdfs          0 2018-11-23 12:23 /apps/hive/warehouse/customerdb1.db
drwxrwxrwx   - 2233B46     hdfs          0 2018-11-21 21:09 /apps/hive/warehouse/customerdb_2233b46.db
drwxrwxrwx   - 1383B30     hdfs          0 2017-11-05 14:32 /apps/hive/warehouse/customers_new
drwxrwxrwx   - 1803B40     hdfs          0 2018-07-29 18:18 /apps/hive/warehouse/cute.db
drwxrwxrwx   - 1940B40     hdfs          0 2018-07-29 15:29 /apps/hive/warehouse/cute_1940b40_results.db
drwxrwxrwx   - 1864B39     hdfs          0 2018-07-07 15:09 /apps/hive/warehouse/db1837.db
drwxrwxrwx   - 1835B39     hdfs          0 2018-07-07 16:42 /apps/hive/warehouse/db_1835.db
drwxrwxrwx   - 1930B40     hdfs          0 2018-07-29 15:05 /apps/hive/warehouse/db_1930_cute.db
drwxrwxrwx   - 2113B44     hdfs          0 2018-10-07 09:47 /apps/hive/warehouse/diksha
drwxrwxrwx   - 2173B45     hdfs          0 2019-01-02 11:41 /apps/hive/warehouse/emp
drwxrwxrwx   - 2401B49     hdfs          0 2019-01-19 17:49 /apps/hive/warehouse/emp_2401.db
drwxrwxrwx   - 2324B48     hdfs          0 2019-01-06 09:58 /apps/hive/warehouse/emp_db.db
drwxrwxrwx   - 2139B44     hdfs          0 2018-11-04 18:46 /apps/hive/warehouse/employeedb.db
drwxrwxrwx   - 2047B42     hdfs          0 2018-08-12 11:19 /apps/hive/warehouse/employees_2047b42.db
drwxrwxrwx   - 2268B47     hdfs          0 2019-01-20 12:50 /apps/hive/warehouse/employees_db.db
drwxrwxrwx   - 1874B42     hdfs          0 2018-08-12 12:23 /apps/hive/warehouse/employees_db_1874b42.db
drwxrwxrwx   - 1991B42     hdfs          0 2018-08-12 10:58 /apps/hive/warehouse/employees_db_1991b42.db
drwxrwxrwx   - 1993B42     hdfs          0 2018-08-12 12:03 /apps/hive/warehouse/employees_db_1993b42.db
drwxrwxrwx   - 1999B42     hdfs          0 2018-08-12 12:03 /apps/hive/warehouse/employees_db_1999b42.db
drwxrwxrwx   - 2000B42     hdfs          0 2018-08-12 12:03 /apps/hive/warehouse/employees_db_2000b42.db
drwxrwxrwx   - 2001B42     hdfs          0 2018-08-12 11:34 /apps/hive/warehouse/employees_db_2001b42.db
drwxrwxrwx   - 2003B42     hdfs          0 2018-08-12 10:48 /apps/hive/warehouse/employees_db_2003.db
drwxrwxrwx   - 2007B42     hdfs          0 2018-08-12 10:30 /apps/hive/warehouse/employees_db_2007b42.db
drwxrwxrwx   - 2008B42     hdfs          0 2018-08-12 11:50 /apps/hive/warehouse/employees_db_2008.db
drwxrwxrwx   - 2010B42     hdfs          0 2018-08-12 10:30 /apps/hive/warehouse/employees_db_2010b42.db
drwxrwxrwx   - 2011B42     hdfs          0 2018-08-12 12:49 /apps/hive/warehouse/employees_db_2011b42.db
drwxrwxrwx   - 2012B42     hdfs          0 2018-08-12 10:04 /apps/hive/warehouse/employees_db_2012b42.db
drwxrwxrwx   - 2014B42     hdfs          0 2018-08-12 11:59 /apps/hive/warehouse/employees_db_2014b42.db
drwxrwxrwx   - 2023B42     hdfs          0 2018-08-12 10:51 /apps/hive/warehouse/employees_db_2016b42.db
drwxrwxrwx   - 2017B42     hdfs          0 2018-08-12 11:59 /apps/hive/warehouse/employees_db_2017b42.db
drwxrwxrwx   - 2018B42     hdfs          0 2018-08-12 11:47 /apps/hive/warehouse/employees_db_2018b42.db
drwxrwxrwx   - 2019B42     hdfs          0 2018-08-12 10:20 /apps/hive/warehouse/employees_db_2019.db
drwxrwxrwx   - 2020B42     hdfs          0 2018-08-12 11:08 /apps/hive/warehouse/employees_db_2020b42.db
drwxrwxrwx   - 2023B42     hdfs          0 2018-08-12 10:57 /apps/hive/warehouse/employees_db_2023b42.db
drwxrwxrwx   - 2024B42     hdfs          0 2018-08-12 10:27 /apps/hive/warehouse/employees_db_2024.db
drwxrwxrwx   - 2025B42     hdfs          0 2018-08-12 12:21 /apps/hive/warehouse/employees_db_2025b42.db
drwxrwxrwx   - 2026B42     hdfs          0 2018-08-12 10:39 /apps/hive/warehouse/employees_db_2026b42.db
drwxrwxrwx   - 2027B42     hdfs          0 2018-08-12 11:50 /apps/hive/warehouse/employees_db_2027b42.db
drwxrwxrwx   - 2030B42     hdfs          0 2018-08-12 12:05 /apps/hive/warehouse/employees_db_2030b42.db
drwxrwxrwx   - 2031B42     hdfs          0 2018-08-12 11:03 /apps/hive/warehouse/employees_db_2031b42.db
drwxrwxrwx   - 2036B42     hdfs          0 2018-08-12 10:41 /apps/hive/warehouse/employees_db_2036b42.db
drwxrwxrwx   - 2040B42     hdfs          0 2018-08-12 11:15 /apps/hive/warehouse/employees_db_2040b42.db
drwxrwxrwx   - 2041B42     hdfs          0 2018-08-12 10:41 /apps/hive/warehouse/employees_db_2041b42.db
drwxrwxrwx   - 2042B42     hdfs          0 2018-08-12 10:04 /apps/hive/warehouse/employees_db_2042b42.db
drwxrwxrwx   - 2044B42     hdfs          0 2018-08-12 11:37 /apps/hive/warehouse/employees_db_2044b42.db
drwxrwxrwx   - 2046B42     hdfs          0 2018-08-12 11:53 /apps/hive/warehouse/employees_db_2046b42.db
drwxrwxrwx   - 2048B42     hdfs          0 2018-08-12 11:42 /apps/hive/warehouse/employees_db_2048b42.db
drwxrwxrwx   - 2141B42     hdfs          0 2018-08-12 10:39 /apps/hive/warehouse/employees_db_2141b42.db
drwxrwxrwx   - 2275B47     hdfs          0 2019-01-20 12:59 /apps/hive/warehouse/employees_db_2275.db
drwxrwxrwx   - 2302B47     hdfs          0 2019-01-20 12:32 /apps/hive/warehouse/employees_db_2302.db
drwxrwxrwx   - pavanw      hdfs          0 2018-08-10 14:59 /apps/hive/warehouse/employees_wale.db
drwxrwxrwx   - 1843B39     hdfs          0 2018-07-07 14:56 /apps/hive/warehouse/eshwag_advanced.db
drwxrwxrwx   - gauthamp    hdfs          0 2018-07-30 15:15 /apps/hive/warehouse/frauddetection.db
drwxrwxrwx   - 2115B44     hdfs          0 2018-10-07 09:46 /apps/hive/warehouse/g1
drwxrwxrwx   - mahidharv   hdfs          0 2019-01-12 10:41 /apps/hive/warehouse/gaurang_batch47.db
drwxrwxrwx   - 1350B30     hdfs          0 2017-11-05 15:20 /apps/hive/warehouse/hadoopapp1table2
drwxrwxrwx   - manasm      hdfs          0 2018-02-27 12:40 /apps/hive/warehouse/hbasehive_table
drwxrwxrwx   - 2264B47     hdfs          0 2019-01-13 16:22 /apps/hive/warehouse/hiranb47_testing.db
drwxrwxrwx   - 2133B44     hdfs          0 2018-11-04 12:01 /apps/hive/warehouse/hive2133.db
drwxrwxrwx   - 2006B42     hdfs          0 2018-07-21 16:59 /apps/hive/warehouse/hote
drwxrwxrwx   - 2061B43     hdfs          0 2018-08-18 15:04 /apps/hive/warehouse/hsa.db
drwxrwxrwx   - 1983B41     hdfs          0 2018-07-14 10:19 /apps/hive/warehouse/insofe1_1983_empdb.db
drwxrwxrwx   - 2303B47     hdfs          0 2019-01-13 15:39 /apps/hive/warehouse/insofe2303b47_testing.db
drwxrwxrwx   - 1335B29     hdfs          0 2017-10-08 17:58 /apps/hive/warehouse/insofe_1335b29_tcs.db
drwxrwxrwx   - 1389B37     hdfs          0 2018-04-29 14:31 /apps/hive/warehouse/insofe_1389b37_b37.db
drwxrwxrwx   - 1523B33     hdfs          0 2018-03-04 17:12 /apps/hive/warehouse/insofe_1523_salesdb
drwxrwxrwx   - 1561B34     hdfs          0 2018-02-17 16:59 /apps/hive/warehouse/insofe_1561b34_empdb.db
drwxrwxrwx   - 1654B38     hdfs          0 2018-05-12 17:45 /apps/hive/warehouse/insofe_1654_posts
drwxrwxrwx   - 1806B40     hdfs          0 2018-07-29 17:18 /apps/hive/warehouse/insofe_1806b40_stockdata
drwxrwxrwx   - 2324B48     hdfs          0 2019-01-05 17:47 /apps/hive/warehouse/insofe_1825db.db
drwxrwxrwx   - 1874B42     hdfs          0 2018-08-05 15:18 /apps/hive/warehouse/insofe_1874b42.db
drwxrwxrwx   - 1889B42     hdfs          0 2018-08-05 15:17 /apps/hive/warehouse/insofe_1889b42.db
drwxrwxrwx   - 1894B40     hdfs          0 2018-07-15 11:25 /apps/hive/warehouse/insofe_1894_postdb.db
drwxrwxrwx   - 1899B41     hdfs          0 2018-07-14 09:35 /apps/hive/warehouse/insofe_1899b41_empdb.db
drwxrwxrwx   - 1955B41     hdfs          0 2018-07-14 09:50 /apps/hive/warehouse/insofe_1899b41_empdb1.db
drwxrwxrwx   - 1901B40     hdfs          0 2018-08-26 00:12 /apps/hive/warehouse/insofe_1901b40.db
drwxrwxrwx   - 1909B40     hdfs          0 2018-07-29 14:28 /apps/hive/warehouse/insofe_1909b40_stockdata.db
drwxrwxrwx   - 1909B40     hdfs          0 2018-07-15 12:31 /apps/hive/warehouse/insofe_1909b40_testing.db
drwxrwxrwx   - 1911B45     hdfs          0 2019-01-06 09:52 /apps/hive/warehouse/insofe_1911b48.db
drwxrwxrwx   - 1913B40     hdfs          0 2018-07-15 12:18 /apps/hive/warehouse/insofe_1913b40_testing.db
drwxrwxrwx   - 1919B40     hdfs          0 2018-07-29 14:57 /apps/hive/warehouse/insofe_1919_stockdata.db
drwxrwxrwx   - 1919B40     hdfs          0 2018-08-16 16:51 /apps/hive/warehouse/insofe_1919b40.db
drwxrwxrwx   - 1919B40     hdfs          0 2018-07-15 12:36 /apps/hive/warehouse/insofe_1919b40_testing.db
drwxrwxrwx   - 1927B40     hdfs          0 2018-07-15 12:45 /apps/hive/warehouse/insofe_1927b40_result.db
drwxrwxrwx   - 1927B40     hdfs          0 2018-07-29 17:35 /apps/hive/warehouse/insofe_1927b40_results.db
drwxrwxrwx   - 1929B40     hdfs          0 2018-07-29 15:33 /apps/hive/warehouse/insofe_1929.db
drwxrwxrwx   - 1929B40     hdfs          0 2018-07-15 12:14 /apps/hive/warehouse/insofe_1929_testing.db
drwxrwxrwx   - 1930B40     hdfs          0 2018-07-15 12:36 /apps/hive/warehouse/insofe_1930b40_results.db
drwxrwxrwx   - 1932B40     hdfs          0 2018-07-29 16:46 /apps/hive/warehouse/insofe_1932b40_stockdata.db
drwxrwxrwx   - 1932B40     hdfs          0 2018-07-15 12:22 /apps/hive/warehouse/insofe_1932b40_testing.db
drwxrwxrwx   - 1939B40     hdfs          0 2018-07-29 15:24 /apps/hive/warehouse/insofe_1939_stock.db
drwxrwxrwx   - 1940B40     hdfs          0 2018-07-15 12:42 /apps/hive/warehouse/insofe_1940b40_results.db
drwxrwxrwx   - 1943B40     hdfs          0 2018-07-15 12:52 /apps/hive/warehouse/insofe_1943_testing.db
drwxrwxrwx   - 1943B40     hdfs          0 2018-07-29 15:02 /apps/hive/warehouse/insofe_1943b40_stockdata.db
drwxrwxrwx   - 1949B41     hdfs          0 2018-07-14 09:36 /apps/hive/warehouse/insofe_1949_emdb.db
drwxrwxrwx   - 1949B41     hdfs          0 2018-07-14 09:39 /apps/hive/warehouse/insofe_1949_empdb.db
drwxrwxrwx   - 1951B41     hdfs          0 2018-07-14 14:34 /apps/hive/warehouse/insofe_1951_empdb.db
drwxrwxrwx   - 1954B41     hdfs          0 2018-07-14 09:35 /apps/hive/warehouse/insofe_1954_empdb.db
drwxrwxrwx   - 1955B41     hdfs          0 2018-07-14 09:34 /apps/hive/warehouse/insofe_1955b41_empdb.db
drwxrwxrwx   - 1957B41     hdfs          0 2018-07-14 09:41 /apps/hive/warehouse/insofe_1957_empdb.db
drwxrwxrwx   - 1957B41     hdfs          0 2018-07-14 09:40 /apps/hive/warehouse/insofe_1957_empddb.db
drwxrwxrwx   - 1958B41     hdfs          0 2018-07-14 09:35 /apps/hive/warehouse/insofe_1958_empdb.db
drwxrwxrwx   - 1958B41     hdfs          0 2018-11-23 17:59 /apps/hive/warehouse/insofe_1958b41_empdb.db
drwxrwxrwx   - 1959B41     hdfs          0 2018-07-14 09:34 /apps/hive/warehouse/insofe_1959_empdb.db
drwxrwxrwx   - 1960B41     hdfs          0 2018-07-14 09:34 /apps/hive/warehouse/insofe_1960_empdb.db
drwxrwxrwx   - 1963B41     hdfs          0 2018-07-14 09:35 /apps/hive/warehouse/insofe_1963_empdb.db
drwxrwxrwx   - 1965B41     hdfs          0 2018-07-14 09:34 /apps/hive/warehouse/insofe_1965_empdb.db
drwxrwxrwx   - 1966B41     hdfs          0 2018-07-14 09:34 /apps/hive/warehouse/insofe_1966_empdb.db
drwxrwxrwx   - 1970B41     hdfs          0 2018-07-14 09:36 /apps/hive/warehouse/insofe_1970_empdb.db
drwxrwxrwx   - 1971B41     hdfs          0 2018-07-14 10:33 /apps/hive/warehouse/insofe_1971_emp.db
drwxrwxrwx   - 1971B41     hdfs          0 2018-07-14 09:35 /apps/hive/warehouse/insofe_1971_empdb.db
drwxrwxrwx   - 1972B41     hdfs          0 2018-07-14 09:34 /apps/hive/warehouse/insofe_1972_empdb.db
drwxrwxrwx   - 1973B41     hdfs          0 2018-07-14 09:34 /apps/hive/warehouse/insofe_1973_empdb.db
drwxrwxrwx   - 1973B41     hdfs          0 2018-07-30 21:55 /apps/hive/warehouse/insofe_1973b41_empdb.db
drwxrwxrwx   - 1974B41     hdfs          0 2018-07-14 09:35 /apps/hive/warehouse/insofe_1974_empdb.db
drwxrwxrwx   - 1975B41     hdfs          0 2018-07-14 09:34 /apps/hive/warehouse/insofe_1975_empdb.db
drwxrwxrwx   - 1976B41     hdfs          0 2018-07-14 09:34 /apps/hive/warehouse/insofe_1976_empdb.db
drwxrwxrwx   - 1977B41     hdfs          0 2018-07-14 09:34 /apps/hive/warehouse/insofe_1977_empdb.db
drwxrwxrwx   - 1978B41     hdfs          0 2018-07-14 19:53 /apps/hive/warehouse/insofe_1978_empdb.db
drwxrwxrwx   - 1980B41     hdfs          0 2018-07-14 09:34 /apps/hive/warehouse/insofe_1980b41_empdb.db
drwxrwxrwx   - 1981B41     hdfs          0 2018-07-27 10:41 /apps/hive/warehouse/insofe_1981b41_empdb.db
drwxrwxrwx   - 1982B41     hdfs          0 2018-07-14 09:39 /apps/hive/warehouse/insofe_1982_empdb.db
drwxrwxrwx   - 1983B41     hdfs          0 2018-07-14 09:34 /apps/hive/warehouse/insofe_1983_empdb.db
drwxrwxrwx   - 1984B41     hdfs          0 2018-07-14 09:35 /apps/hive/warehouse/insofe_1984_empdb.db
drwxrwxrwx   - 1985B41     hdfs          0 2018-07-26 10:38 /apps/hive/warehouse/insofe_1985_b41_empdb.db
drwxrwxrwx   - 1985B41     hdfs          0 2018-07-14 09:34 /apps/hive/warehouse/insofe_1985_empdb.db
drwxrwxrwx   - 1985B41     hdfs          0 2018-07-26 09:10 /apps/hive/warehouse/insofe_1985b41_empdb.db
drwxrwxrwx   - 1986B41     hdfs          0 2018-07-14 09:34 /apps/hive/warehouse/insofe_1986_empdb.db
drwxrwxrwx   - 1989B41     hdfs          0 2018-07-14 09:34 /apps/hive/warehouse/insofe_1989_empdb.db
drwxrwxrwx   - 1991B42     hdfs          0 2018-08-05 15:15 /apps/hive/warehouse/insofe_1991b42.db
drwxrwxrwx   - 1992B42     hdfs          0 2018-08-05 15:15 /apps/hive/warehouse/insofe_1992b42.db
drwxrwxrwx   - 1993B42     hdfs          0 2018-08-12 09:53 /apps/hive/warehouse/insofe_1993b42.db
drwxrwxrwx   - 1998B42     hdfs          0 2018-08-05 15:16 /apps/hive/warehouse/insofe_1998b42.db
drwxrwxrwx   - 1999B42     hdfs          0 2018-08-05 15:18 /apps/hive/warehouse/insofe_1999b42.db
drwxrwxrwx   - 2000B42     hdfs          0 2018-08-05 15:17 /apps/hive/warehouse/insofe_2000b42.db
drwxrwxrwx   - 2001B42     hdfs          0 2018-08-12 09:46 /apps/hive/warehouse/insofe_2001b42.db
drwxrwxrwx   - 2002B42     hdfs          0 2018-08-12 10:58 /apps/hive/warehouse/insofe_2002b42.db
drwxrwxrwx   - 2003B42     hdfs          0 2018-08-05 15:17 /apps/hive/warehouse/insofe_2003b42.db
drwxrwxrwx   - 2007B42     hdfs          0 2018-08-05 15:17 /apps/hive/warehouse/insofe_2007b42.db
drwxrwxrwx   - 2008B42     hdfs          0 2018-08-05 15:16 /apps/hive/warehouse/insofe_2008.db
drwxrwxrwx   - 2011B42     hdfs          0 2018-08-05 15:23 /apps/hive/warehouse/insofe_2011b42.db
drwxrwxrwx   - 2012B42     hdfs          0 2018-08-05 15:17 /apps/hive/warehouse/insofe_2012b42.db
drwxrwxrwx   - 2014B42     hdfs          0 2018-08-05 15:18 /apps/hive/warehouse/insofe_2014b42.db
drwxrwxrwx   - 2016B42     hdfs          0 2018-08-05 16:30 /apps/hive/warehouse/insofe_2016b42.db
drwxrwxrwx   - 2017B42     hdfs          0 2018-08-12 10:05 /apps/hive/warehouse/insofe_2017b42.db
drwxrwxrwx   - 2019B42     hdfs          0 2018-08-05 15:20 /apps/hive/warehouse/insofe_2019.db
drwxrwxrwx   - 2019B42     hdfs          0 2018-08-16 16:58 /apps/hive/warehouse/insofe_2019b42.db
drwxrwxrwx   - 2020B42     hdfs          0 2018-08-05 15:17 /apps/hive/warehouse/insofe_2020b42.db
drwxrwxrwx   - 2021B42     hdfs          0 2018-08-05 15:18 /apps/hive/warehouse/insofe_2021b42.db
drwxrwxrwx   - 2022B42     hdfs          0 2018-08-05 15:43 /apps/hive/warehouse/insofe_2022b42.db
drwxrwxrwx   - 2023B42     hdfs          0 2018-08-05 15:18 /apps/hive/warehouse/insofe_2023b42.db
drwxrwxrwx   - 2024B42     hdfs          0 2018-08-05 15:17 /apps/hive/warehouse/insofe_2024.db
drwxrwxrwx   - 2025B42     hdfs          0 2018-08-12 06:01 /apps/hive/warehouse/insofe_2025b42.db
drwxrwxrwx   - 2026B42     hdfs          0 2018-08-09 12:55 /apps/hive/warehouse/insofe_2026b42.db
drwxrwxrwx   - 2027B42     hdfs          0 2018-08-05 15:17 /apps/hive/warehouse/insofe_2027b42.db

drwxrwxrwx   - 1985B41     hdfs          0 2018-07-26 10:49 /apps/hive/warehouse/insofe_empdb_1985.db
drwxrwxrwx   - 2152B49     hdfs          0 2019-01-20 10:25 /apps/hive/warehouse/insofe_empdb_2152b49.db
drwxrwxrwx   - 2184B45     hdfs          0 2019-01-05 18:13 /apps/hive/warehouse/insofe_empdb_2184.db
drwxrwxrwx   - 2184B45     hdfs          0 2019-01-06 09:55 /apps/hive/warehouse/insofe_empdb_2184b45.db
drwxrwxrwx   - 2187B45     hdfs          0 2019-01-06 11:45 /apps/hive/warehouse/insofe_empdb_2187.db
drwxrwxrwx   - 2187B45     hdfs          0 2019-01-06 14:48 /apps/hive/warehouse/insofe_empdb_2187b45.db
drwxrwxrwx   - 2210B46     hdfs          0 2018-11-24 08:05 /apps/hive/warehouse/insofe_empdb_2210.db
drwxrwxrwx   - 2245B49     hdfs          0 2019-01-19 17:44 /apps/hive/warehouse/insofe_empdb_2245.db
drwxrwxrwx   - 2308B48     hdfs          0 2019-01-05 17:53 /apps/hive/warehouse/insofe_empdb_2308.db
drwxrwxrwx   - 2308B48     hdfs          0 2019-01-05 17:54 /apps/hive/warehouse/insofe_empdb_2308b48.db
drwxrwxrwx   - 2310B48     hdfs          0 2019-01-05 17:52 /apps/hive/warehouse/insofe_empdb_2310.db
drwxrwxrwx   - 2313B48     hdfs          0 2019-01-05 17:49 /apps/hive/warehouse/insofe_empdb_2313b48.db
drwxrwxrwx   - 2314B48     hdfs          0 2019-01-06 11:16 /apps/hive/warehouse/insofe_empdb_2314b48.db
drwxrwxrwx   - 2315B48     hdfs          0 2019-01-05 17:47 /apps/hive/warehouse/insofe_empdb_2315.db
drwxrwxrwx   - 2317B48     hdfs          0 2019-01-05 17:49 /apps/hive/warehouse/insofe_empdb_2317.db
drwxrwxrwx   - 2321B48     hdfs          0 2019-01-06 10:12 /apps/hive/warehouse/insofe_empdb_2321b48.db
drwxrwxrwx   - 2313B48     hdfs          0 2019-01-06 10:03 /apps/hive/warehouse/insofe_empdb_2324b48.db
drwxrwxrwx   - 2325B48     hdfs          0 2019-01-05 17:47 /apps/hive/warehouse/insofe_empdb_2325.db
drwxrwxrwx   - 2328B48     hdfs          0 2019-01-06 09:52 /apps/hive/warehouse/insofe_empdb_2328b48.db
drwxrwxrwx   - 2331B48     hdfs          0 2019-01-06 09:43 /apps/hive/warehouse/insofe_empdb_2331b48.db
drwxrwxrwx   - 2333B48     hdfs          0 2019-01-05 17:52 /apps/hive/warehouse/insofe_empdb_2333b48.db
drwxrwxrwx   - 2334B48     hdfs          0 2019-01-06 10:37 /apps/hive/warehouse/insofe_empdb_2334.db
drwxrwxrwx   - 2335B48     hdfs          0 2019-01-05 17:48 /apps/hive/warehouse/insofe_empdb_2335_ramya.db
drwxrwxrwx   - 2338B48     hdfs          0 2019-01-05 18:10 /apps/hive/warehouse/insofe_empdb_2338b48.db
drwxrwxrwx   - 2345B48     hdfs          0 2019-01-05 17:46 /apps/hive/warehouse/insofe_empdb_2345b48.db
drwxrwxrwx   - 2346B48     hdfs          0 2019-01-06 09:43 /apps/hive/warehouse/insofe_empdb_2346.db
drwxrwxrwx   - 2348B48     hdfs          0 2019-01-06 09:58 /apps/hive/warehouse/insofe_empdb_2348b48.db
drwxrwxrwx   - 2349B48     hdfs          0 2019-01-06 10:45 /apps/hive/warehouse/insofe_empdb_2349.db
drwxrwxrwx   - 2350B48     hdfs          0 2019-01-05 18:09 /apps/hive/warehouse/insofe_empdb_2350.db
drwxrwxrwx   - 2351B48     hdfs          0 2019-01-05 17:49 /apps/hive/warehouse/insofe_empdb_2351.db
drwxrwxrwx   - 2352B48     hdfs          0 2019-01-05 17:48 /apps/hive/warehouse/insofe_empdb_2352.db
drwxrwxrwx   - 2356B48     hdfs          0 2019-01-06 09:23 /apps/hive/warehouse/insofe_empdb_2356.db
drwxrwxrwx   - 2357B48     hdfs          0 2019-01-06 10:50 /apps/hive/warehouse/insofe_empdb_2357b48.db
drwxrwxrwx   - 2358B48     hdfs          0 2019-01-05 17:47 /apps/hive/warehouse/insofe_empdb_2358.db
drwxrwxrwx   - 2359B48     hdfs          0 2019-01-06 10:17 /apps/hive/warehouse/insofe_empdb_2359b48.db
drwxrwxrwx   - 2360B48     hdfs          0 2019-01-06 10:30 /apps/hive/warehouse/insofe_empdb_2360b48.db
drwxrwxrwx   - 2364B49     hdfs          0 2019-01-19 17:47 /apps/hive/warehouse/insofe_empdb_2364.db
drwxrwxrwx   - 2365B49     hdfs          0 2019-01-19 17:45 /apps/hive/warehouse/insofe_empdb_2365.db
drwxrwxrwx   - 2371B49     hdfs          0 2019-01-20 09:51 /apps/hive/warehouse/insofe_empdb_2371.db
drwxrwxrwx   - 2372B49     hdfs          0 2019-01-19 17:47 /apps/hive/warehouse/insofe_empdb_2372.db
drwxrwxrwx   - 2373B49     hdfs          0 2019-01-19 18:07 /apps/hive/warehouse/insofe_empdb_2373b49.db
drwxrwxrwx   - 2374B49     hdfs          0 2019-01-19 17:47 /apps/hive/warehouse/insofe_empdb_2374b49.db
drwxrwxrwx   - 2375B49     hdfs          0 2019-01-19 17:49 /apps/hive/warehouse/insofe_empdb_2375b49.db
drwxrwxrwx   - 2377B49     hdfs          0 2019-01-19 17:46 /apps/hive/warehouse/insofe_empdb_2377.db
drwxrwxrwx   - 2380B49     hdfs          0 2019-01-19 17:47 /apps/hive/warehouse/insofe_empdb_2380.db
drwxrwxrwx   - 2380B49     hdfs          0 2019-01-20 09:52 /apps/hive/warehouse/insofe_empdb_2380b49.db
drwxrwxrwx   - 2383B49     hdfs          0 2019-01-19 17:46 /apps/hive/warehouse/insofe_empdb_2383.db
drwxrwxrwx   - 2384B49     hdfs          0 2019-01-19 17:46 /apps/hive/warehouse/insofe_empdb_2384.db
drwxrwxrwx   - 2387B49     hdfs          0 2019-01-20 09:56 /apps/hive/warehouse/insofe_empdb_2387.db
drwxrwxrwx   - 2389B49     hdfs          0 2019-01-20 09:38 /apps/hive/warehouse/insofe_empdb_2389.db
drwxrwxrwx   - 2390B49     hdfs          0 2019-01-20 10:56 /apps/hive/warehouse/insofe_empdb_2390.db
drwxrwxrwx   - 2392B49     hdfs          0 2019-01-20 13:01 /apps/hive/warehouse/insofe_empdb_2392b49.db
drwxrwxrwx   - 2393B49     hdfs          0 2019-01-20 13:01 /apps/hive/warehouse/insofe_empdb_2393b49.db
drwxrwxrwx   - 2394B49     hdfs          0 2019-01-20 12:56 /apps/hive/warehouse/insofe_empdb_2394.db
drwxrwxrwx   - 2395B49     hdfs          0 2019-01-20 09:54 /apps/hive/warehouse/insofe_empdb_2395.db
drwxrwxrwx   - 2396B49     hdfs          0 2019-01-20 09:52 /apps/hive/warehouse/insofe_empdb_2396.db
drwxrwxrwx   - 2398B49     hdfs          0 2019-01-19 17:47 /apps/hive/warehouse/insofe_empdb_2398.db
drwxrwxrwx   - 2399B49     hdfs          0 2019-01-19 17:49 /apps/hive/warehouse/insofe_empdb_2399b49.db
drwxrwxrwx   - 2400B49     hdfs          0 2019-01-19 19:50 /apps/hive/warehouse/insofe_empdb_2400.db
drwxrwxrwx   - 2401B49     hdfs          0 2019-01-20 10:11 /apps/hive/warehouse/insofe_empdb_2401.db
drwxrwxrwx   - 2402B49     hdfs          0 2019-01-20 10:34 /apps/hive/warehouse/insofe_empdb_2402b49.db
drwxrwxrwx   - 2403B49     hdfs          0 2019-01-19 17:48 /apps/hive/warehouse/insofe_empdb_2403.db
drwxrwxrwx   - 2404B49     hdfs          0 2019-01-19 17:33 /apps/hive/warehouse/insofe_empdb_2404b49.db
drwxrwxrwx   - 2320B48     hdfs          0 2019-01-06 09:39 /apps/hive/warehouse/insofe_empdb_akc2320.db
drwxrwxrwx   - 2309B48     hdfs          0 2019-01-05 17:48 /apps/hive/warehouse/insofe_empdb_anil.db
drwxrwxrwx   - 2388B49     hdfs          0 2019-01-19 17:49 /apps/hive/warehouse/insofe_empdb_b2388.db
drwxrwxrwx   - anjaneyalu  hdfs          0 2018-11-27 23:14 /apps/hive/warehouse/insofe_empdb_enroll.db
drwxrwxrwx   - 1879B39     hdfs          0 2018-07-14 14:00 /apps/hive/warehouse/insofe_empdb_hive_1879b39.db
drwxrwxrwx   - thomasj     hdfs          0 2018-11-04 07:29 /apps/hive/warehouse/insofe_empdb_mahidharv.db
drwxrwxrwx   - thomasj     hdfs          0 2018-08-11 21:39 /apps/hive/warehouse/insofe_empdb_thomasj.db
drwxrwxrwx   - 2139B44     hdfs          0 2018-11-17 06:12 /apps/hive/warehouse/insofe_employeedatabase.db
drwxrwxrwx   - 2139B44     hdfs          0 2018-11-17 05:21 /apps/hive/warehouse/insofe_employeedb.db
drwxrwxrwx   - 2004B42     hdfs          0 2018-08-05 15:16 /apps/hive/warehouse/insofe_gowtham.db
drwxrwxrwx   - gauthamp    hdfs          0 2018-08-08 17:21 /apps/hive/warehouse/insofe_loandata_gem.db
drwxrwxrwx   - 2010B42     hdfs          0 2018-08-05 15:20 /apps/hive/warehouse/insofe_madhuhive.db
drwxrwxrwx   - 1840B39     hdfs          0 2018-07-14 13:38 /apps/hive/warehouse/insofe_newempdb_1840b39.db
drwxrwxrwx   - 2326B48     hdfs          0 2019-01-06 10:14 /apps/hive/warehouse/insofe_p2326.db
drwxrwxrwx   - pavanw      hdfs          0 2018-08-10 15:05 /apps/hive/warehouse/insofe_pavanw.db
drwxrwxrwx   - pavanw      hdfs          0 2018-08-05 11:07 /apps/hive/warehouse/insofe_pavanw_empdb.db
drwxrwxrwx   - yugandhar   hdfs          0 2018-07-04 15:14 /apps/hive/warehouse/insofe_poc_test.db
drwxrwxrwx   - rameshm     hdfs          0 2018-08-16 16:45 /apps/hive/warehouse/insofe_rameshm.db
drwxrwxrwx   - 2340B48     hdfs          0 2019-01-06 09:52 /apps/hive/warehouse/insofe_rc2340.db
drwxrwxrwx   - 2098B43     hdfs          0 2018-08-19 11:10 /apps/hive/warehouse/insofe_results.db
drwxrwxrwx   - 2029B42     hdfs          0 2018-08-12 12:13 /apps/hive/warehouse/insofe_results_2029b42.db
drwxrwxrwx   - 2033B42     hdfs          0 2018-08-12 09:48 /apps/hive/warehouse/insofe_results_2033b42.db
drwxrwxrwx   - 2151B45     hdfs          0 2018-11-03 18:06 /apps/hive/warehouse/insofe_results_2151.db
drwxrwxrwx   - 2181B45     hdfs          0 2018-11-21 12:25 /apps/hive/warehouse/insofe_results_2181b45.db
drwxrwxrwx   - 2192B45     hdfs          0 2018-11-23 14:35 /apps/hive/warehouse/insofe_results_test2192.db
drwxrwxrwx   - 2341B48     hdfs          0 2019-01-06 10:07 /apps/hive/warehouse/insofe_ru2341.db
drwxrwxrwx   - 1906B43     hdfs          0 2018-09-08 17:16 /apps/hive/warehouse/insofe_sample.db
drwxrwxrwx   - seemab      hdfs          0 2018-11-02 15:48 /apps/hive/warehouse/insofe_seemab.db
drwxrwxrwx   - 2127B44     hdfs          0 2018-11-04 17:18 /apps/hive/warehouse/insofe_sid.db
drwxrwxrwx   - 2115B44     hdfs          0 2018-11-04 18:27 /apps/hive/warehouse/insofe_thomasj.db
drwxrwxrwx   - 2131B44     hdfs          0 2018-11-04 17:51 /apps/hive/warehouse/insofe_vijayemp.db
drwxrwxrwx   - vivekb      hdfs          0 2018-08-16 16:46 /apps/hive/warehouse/insofe_vivekb.db
drwxrwxrwx   - pavanw      hdfs          0 2018-08-10 15:38 /apps/hive/warehouse/insofe_wale.db
drwxrwxrwx   - 2303B47     hdfs          0 2019-01-13 16:24 /apps/hive/warehouse/insofpreetham_testing.db
drwxrwxrwx   - 1201B28     hdfs          0 2017-08-19 17:53 /apps/hive/warehouse/internal_data
drwxrwxrwx   - 2109B44     hdfs          0 2018-10-07 09:48 /apps/hive/warehouse/johnmayer
drwxrwxrwx   - 1850B39     hdfs          0 2018-07-07 15:08 /apps/hive/warehouse/kiran.db
drwxrwxrwx   - 1910B40     hdfs          0 2018-07-15 12:59 /apps/hive/warehouse/kranthi_1910.db
drwxrwxrwx   - 2136B44     hdfs          0 2018-10-07 09:53 /apps/hive/warehouse/l1
drwxrwxrwx   - seemab      hdfs          0 2018-11-02 19:07 /apps/hive/warehouse/likes
drwxrwxrwx   - 2133B44     hdfs          0 2018-11-04 11:58 /apps/hive/warehouse/likes2133
drwxrwxrwx   - 1641B35     hdfs          0 2018-07-20 12:22 /apps/hive/warehouse/locations
drwxrwxrwx   - mahidharv   hdfs          0 2018-03-11 16:28 /apps/hive/warehouse/locations1
drwxrwxrwx   - 1867B39     hdfs          0 2018-07-20 12:20 /apps/hive/warehouse/locations2
drwxrwxrwx   - 1641B35     hdfs          0 2018-03-04 17:29 /apps/hive/warehouse/locationshive
drwxrwxrwx   - 2252B47     hdfs          0 2019-01-13 16:08 /apps/hive/warehouse/mayurb47_e_posts
drwxrwxrwx   - 2252B47     hdfs          0 2019-01-13 16:02 /apps/hive/warehouse/mayurb47_testing.db
drwxrwxrwx   - 1936B40     hdfs          0 2018-07-08 15:37 /apps/hive/warehouse/my_empdb.db
drwxrwxrwx   - 2387B49     hdfs          0 2018-12-30 11:25 /apps/hive/warehouse/new
drwxrwxrwx   - 1455B32     hdfs          0 2017-12-31 15:57 /apps/hive/warehouse/new_table
drwxrwxrwx   - 1455B32     hdfs          0 2017-12-31 15:05 /apps/hive/warehouse/newtable
drwxrwxrwx   - 2017B42     hdfs          0 2018-08-05 15:44 /apps/hive/warehouse/niroop_2017b42.db
drwxrwxrwx   - 1600B34     hdfs          0 2018-03-04 12:08 /apps/hive/warehouse/olympic_medals
drwxrwxrwx   - 1299B29     hdfs          0 2018-03-11 15:34 /apps/hive/warehouse/olympics
drwxrwxrwx   - 1321B29     hdfs          0 2017-10-31 00:24 /apps/hive/warehouse/olympics_1286b29
drwxrwxrwx   - 1568B34     hdfs          0 2018-03-04 11:44 /apps/hive/warehouse/olympics_1568
drwxrwxrwx   - 1289B29     hdfs          0 2017-10-29 17:59 /apps/hive/warehouse/olympics_table
drwxrwxrwx   - 1297B29     hdfs          0 2017-10-29 17:48 /apps/hive/warehouse/olympictable
drwxrwxrwx   - 1845B39     hdfs          0 2018-07-11 19:10 /apps/hive/warehouse/one.db
drwxrwxrwx   - 1404B31     hdfs          0 2017-12-03 17:40 /apps/hive/warehouse/p
drwxrwxrwx   - 2111B44     hdfs          0 2018-10-07 09:47 /apps/hive/warehouse/p1
drwxrwxrwx   - 2011B42     hdfs          0 2018-08-19 09:58 /apps/hive/warehouse/parking
drwxrwxrwx   - 2011B42     hdfs          0 2018-08-19 09:57 /apps/hive/warehouse/paymentmode
drwxr-xr-x   - 1850B39     hdfs          0 2018-06-23 17:17 /apps/hive/warehouse/people1_bucketed
drwxr-xr-x   - jeevans     hdfs          0 2018-06-22 23:36 /apps/hive/warehouse/people_bucketed
drwxr-xr-x   - 1845B39     hdfs          0 2018-07-11 18:46 /apps/hive/warehouse/people_bucketed1
drwxr-xr-x   - 1860B39     hdfs          0 2018-06-23 16:32 /apps/hive/warehouse/people_bucketed_1
drwxrwxrwx   - 1422B31     hdfs          0 2018-04-08 12:05 /apps/hive/warehouse/pokemon1
drwxrwxrwx   - 1422B31     hdfs          0 2018-04-08 12:06 /apps/hive/warehouse/pokemon2
drwxrwxrwx   - 1422B31     hdfs          0 2018-04-08 12:34 /apps/hive/warehouse/pokemon_1
drwxrwxrwx   - 1422B31     hdfs          0 2018-04-08 12:37 /apps/hive/warehouse/pokemon_2
drwxrwxrwx   - 1929B40     hdfs          0 2018-07-15 14:56 /apps/hive/warehouse/post_count
drwxrwxrwx   - 1920B40     hdfs          0 2018-07-15 12:35 /apps/hive/warehouse/post_counts
drwxrwxrwx   - seemab      hdfs          0 2018-11-02 19:06 /apps/hive/warehouse/posts
drwxrwxrwx   - 1929B40     hdfs          0 2018-07-15 14:44 /apps/hive/warehouse/posts1
drwxrwxrwx   - 1484B32     hdfs          0 2018-05-29 16:04 /apps/hive/warehouse/posts2
drwxrwxrwx   - 1937B40     hdfs          0 2018-07-15 11:00 /apps/hive/warehouse/posts37
drwxrwxrwx   - seemab      hdfs          0 2018-11-03 18:45 /apps/hive/warehouse/posts_new
drwxrwxrwx   - 1920B40     hdfs          0 2018-07-15 12:26 /apps/hive/warehouse/postsed
drwxrwxrwx   - 1718B36     hdfs          0 2018-07-07 16:59 /apps/hive/warehouse/product
drwxrwxrwx   - 2106B44     hdfs          0 2018-10-07 09:47 /apps/hive/warehouse/r1
drwxrwxrwx   - 1861B39     hdfs          0 2018-07-07 16:30 /apps/hive/warehouse/rahul_hive_db.db
drwxrwxrwx   - 1929B40     hdfs          0 2018-07-15 09:35 /apps/hive/warehouse/ramya.db
drwxrwxrwx   - 1339B30     hdfs          0 2017-10-15 16:26 /apps/hive/warehouse/rating_full
drwxrwxrwx   - chaithanyas hdfs          0 2018-02-17 15:53 /apps/hive/warehouse/records_partitioned
drwxrwxrwx   - 2011B42     hdfs          0 2018-08-19 09:55 /apps/hive/warehouse/restgen
drwxrwxrwx   - 1907B40     hdfs          0 2018-07-15 13:07 /apps/hive/warehouse/rk.db
drwxrwxrwx   - 2111B44     hdfs          0 2018-10-07 09:49 /apps/hive/warehouse/rohith
drwxrwxrwx   - 2342B48     hdfs          0 2019-01-05 17:48 /apps/hive/warehouse/sahil_123.db
drwxrwxrwx   - 2135B44     hdfs          0 2018-10-07 09:49 /apps/hive/warehouse/sai123
drwxrwxrwx   - hueadmin    hdfs          0 2017-09-26 13:11 /apps/hive/warehouse/sample_07
drwxrwxrwx   - hueadmin    hdfs          0 2018-05-18 16:09 /apps/hive/warehouse/sample_08
drwxrwxrwx   - 1871B39     hdfs          0 2018-07-07 16:07 /apps/hive/warehouse/sandip.db
drwxrwxrwx   - seemab      hdfs          0 2018-11-03 23:32 /apps/hive/warehouse/seema_testing.db
drwxrwxrwx   - 2034B42     hdfs          0 2018-08-05 15:39 /apps/hive/warehouse/shamanth_2034.db
drwxrwxrwx   - 1892B39     hdfs          0 2018-07-07 15:08 /apps/hive/warehouse/shivakumar.db
drwxrwxrwx   - 2421B51     hdfs          0 2018-12-09 20:35 /apps/hive/warehouse/shravan_test
drwxrwxrwx   - 2117B44     hdfs          0 2018-10-07 09:47 /apps/hive/warehouse/sid1
drwxrwxrwx   - 2127B44     hdfs          0 2018-11-04 10:30 /apps/hive/warehouse/sid_b44_testing.db
drwxrwxrwx   - 2114B44     hdfs          0 2018-10-07 09:48 /apps/hive/warehouse/sravanthi
drwxrwxrwx   - 2110B44     hdfs          0 2018-10-07 09:47 /apps/hive/warehouse/sriram
drwxrwxrwx   - 2132B44     hdfs          0 2018-11-04 11:33 /apps/hive/warehouse/srujish.db
drwxrwxrwx   - 1905B40     hdfs          0 2018-07-29 15:12 /apps/hive/warehouse/stock_cute.db
drwxrwxrwx   - 1895B40     hdfs          0 2018-07-29 15:02 /apps/hive/warehouse/stocsdb.db
drwxrwxrwx   - hive        hdfs          0 2017-08-29 13:35 /apps/hive/warehouse/students
drwxrwxrwx   - 2185B45     hdfs          0 2018-11-03 15:10 /apps/hive/warehouse/sumanth_employee.db
drwxrwxrwx   - 2132B44     hdfs          0 2018-10-07 09:47 /apps/hive/warehouse/svs
drwxrwxrwx   - 2123B44     hdfs          0 2018-10-07 09:49 /apps/hive/warehouse/swa_2123b44
drwxrwxrwx   - mahidharv   hdfs          0 2018-07-20 14:01 /apps/hive/warehouse/t1
drwxrwxrwx   - 2134B44     hdfs          0 2018-10-10 11:22 /apps/hive/warehouse/t127
drwxrwxrwx   - 1884B44     hdfs          0 2018-10-07 09:48 /apps/hive/warehouse/t1884
drwxrwxrwx   - 2127B44     hdfs          0 2018-10-07 09:47 /apps/hive/warehouse/t1_class44
drwxrwxrwx   - mahidharv   hdfs          0 2018-07-20 14:06 /apps/hive/warehouse/t2
drwxrwxrwx   - 2134B44     hdfs          0 2018-10-07 09:46 /apps/hive/warehouse/t21
drwxrwxrwx   - 2122B44     hdfs          0 2018-10-07 09:48 /apps/hive/warehouse/t2122
drwxrwxrwx   - 2125B44     hdfs          0 2018-10-07 09:47 /apps/hive/warehouse/t2125
drwxrwxrwx   - 2137B44     hdfs          0 2018-10-07 12:36 /apps/hive/warehouse/t4
drwxrwxrwx   - mahidharv   hdfs          0 2018-12-05 12:28 /apps/hive/warehouse/t5
drwxrwxrwx   - 2115B44     hdfs          0 2018-10-07 09:47 /apps/hive/warehouse/table_suyog
drwxr-xr-x   - thomasj     hdfs          0 2018-12-29 08:39 /apps/hive/warehouse/tc_stocks
drwxr-xr-x   - rameshm     hdfs          0 2018-10-28 10:06 /apps/hive/warehouse/tcs_stocks
drwxr-xr-x   - 2334B48     hdfs          0 2019-01-18 11:27 /apps/hive/warehouse/tcs_stocks_2334
drwxr-xr-x   - jayantm     hdfs          0 2018-12-16 16:21 /apps/hive/warehouse/tcs_stocks_jayantm
drwxrwxrwx   - 1670B35     hdfs          0 2018-02-17 16:14 /apps/hive/warehouse/temperature
drwxrwxrwx   - 1349B30     hdfs          0 2017-11-05 12:44 /apps/hive/warehouse/test
drwxrwxrwx   - 1937B40     hdfs          0 2018-07-15 12:45 /apps/hive/warehouse/test1937.db
drwxrwxrwx   - hive        hdfs          0 2017-07-21 16:16 /apps/hive/warehouse/test2
drwxrwxrwx   - mahidharv   hdfs          0 2018-12-04 18:37 /apps/hive/warehouse/test4
drwxrwxrwx   - 2139B44     hdfs          0 2018-11-16 15:42 /apps/hive/warehouse/test_2139b44.db
drwxrwxrwx   - rameshm     hdfs          0 2018-10-16 09:35 /apps/hive/warehouse/test_hive_hbase
drwxrwxrwx   - 1340B30     hdfs          0 2017-10-15 15:50 /apps/hive/warehouse/testing
drwxrwxrwx   - manasm      hdfs          0 2018-11-04 11:38 /apps/hive/warehouse/testing.db
drwxrwxrwx   - 1937B40     hdfs          0 2018-07-15 10:46 /apps/hive/warehouse/testing123.db
drwxrwxrwx   - 1895B40     hdfs          0 2018-07-15 12:38 /apps/hive/warehouse/testing_1895.db
drwxrwxrwx   - 1895B40     hdfs          0 2018-07-15 10:49 /apps/hive/warehouse/testing_1985.db
drwxrwxrwx   - 1920B40     hdfs          0 2018-07-15 11:59 /apps/hive/warehouse/testingtools.db
drwxrwxrwx   - 2135B44     hdfs          0 2018-10-07 09:47 /apps/hive/warehouse/ti
drwxrwxrwx   - 2138B44     hdfs          0 2018-11-17 00:07 /apps/hive/warehouse/tool
drwxr-xr-x   - rameshm     hdfs          0 2018-10-26 22:15 /apps/hive/warehouse/traindf_hive
drwxrwxrwx   - 1340B30     hdfs          0 2017-10-15 15:49 /apps/hive/warehouse/training
drwxrwxrwx   - 1551B33     hdfs          0 2018-03-21 15:27 /apps/hive/warehouse/transactions_stg
drwxrwxrwx   - 1870B39     hdfs          0 2018-07-20 18:37 /apps/hive/warehouse/try.db
drwxrwxrwx   - 2004B42     hdfs          0 2018-07-21 12:11 /apps/hive/warehouse/ttw

In [93]:
!hdfs dfs -ls /apps/hive/warehouse/insofe_empdb_10064.db/

Found 3 items
drwxr-xr-x   - rameshm hdfs          0 2019-01-20 10:31 /apps/hive/warehouse/insofe_empdb_10064.db/active_employees_data
drwxr-xr-x   - rameshm hdfs          0 2019-01-20 10:31 /apps/hive/warehouse/insofe_empdb_10064.db/dept_aggr
drwxr-xr-x   - rameshm hdfs          0 2019-01-20 10:31 /apps/hive/warehouse/insofe_empdb_10064.db/dept_gender_aggr