In [54]:
import pandas as pd
import numpy as np
import os

In [55]:
os.chdir('C:\\Users\\Hp\\Downloads\\March\\March')

In [76]:
data1=pd.read_csv('NIFTY14800CE.csv',names=['Index','Date','Time','Open','High','Low','Close','Volume','OI'])
data1['Month']=data1['Date'].str.split('/',expand=True)[1]
data1=data1[data1['Month'] == '03']
data1.reset_index(inplace=True)
data1=data1.drop(['Month','Index','index','OI'],axis=1)

In [77]:
data1.head()

         Date   Time    Open   High     Low   Close  Volume
0  2021/03/01  09:15  350.00  353.5  335.25  338.55   16125
1  2021/03/01  09:16  338.55  346.5  326.50  346.50   14025
2  2021/03/01  09:17  347.20  347.2  342.20  345.00    3600
3  2021/03/01  09:20  355.00  366.6  353.40  366.00   26700
4  2021/03/01  09:21  365.05  369.3  363.65  366.50   11700

In [78]:
data1.to_csv('14800CE.csv',index=False)